/********************************************************
			One-Page Checkout Styles
********************************************************/
#order-opc {
    line-height: 20px;
}

#order-opc #login_form {
    background: none;
    margin-bottom: 0px;
    border-bottom: 0px;
}

#order-opc #hider_opc {
    display: none;
}

#order-opc .box {
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    #order-opc .quest-checkout-box {
        margin-bottom: 20px;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 20px;
    }
}

#order-opc .page-heading.step-num {
    position: relative;
    overflow: visible;
    background: #f8f8f8;
    border: 1px solid #dddddd;
    padding: 14px 10px 10px 45px;
    min-height: 40px;
}

#order-opc .page-heading.step-num span {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    position: absolute;
    left: 15px;
    top: 1px;
}

#order-opc .opc-overlay {
    min-height: 60px;
    background: #fff url("../img/ajax-loader.gif") no-repeat center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
    opacity: .5;
}

#order-opc .form-group {
    margin-bottom: 2px;
}

#order-opc .form-group .form-control {
    max-width: 271px;
}

#order-opc .lost_password {
    display: inline-block;
    text-decoration: underline;
    margin: 5px 0 14px;
}

#order-opc .lost_password:hover {
    text-decoration: none;
}

#order-opc .title_block {
    font-weight: bold;
    color: #777;
    padding: 3px 0 6px;
}

#order-opc .opc-button {
    padding: 11px 0 0 0;
}

#order-opc ul.bullet {
    line-height: 22px;
    margin-bottom: 5px;
}

#order-opc .date-select {
    padding-bottom: 10px;
}

#order-opc .opc-add-save {
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 20px;
}

#order-opc #message {
    margin-bottom: 10px;
}

#order-opc .opc-main-block {
    position: relative;
}

#order-opc #opc_payment_methods {
    margin-bottom: 30px;
}

#order-opc #opc_payment_methods p.warning {
    color: #F13340;
    font-weight: 700;
}

#order-opc #opc_account {
    margin-bottom: 30px;
}

#order-opc .address_delivery.select {
    margin-bottom: 15px;
}

#order-opc #address_invoice_form.form-group {
    margin-bottom: 30px;
}

#order-opc #submitAccount, #order-opc #submitGuestAccount {
    display: block;
    width: 100%;
    padding: 18px 10px;
    font-size: 16px;
}

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
    display: none;
}

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
    display: none;
}

.vwb-hidden-opc, .id_state {
    display: none ;
}

.vwb-visible-opc{
    display: block;
}

#opc-block-CSA label{
    width: 120px;
}

#opc-block-CSA input, #opc-block-CSA select {
    width: 250px;
    padding: 7px 10px;
    border: 1px solid #DDDDDD;
}

#opc-block-CSA, .vwb-opc-sM {
    margin: 15px 15px 15px 15px;
}

#opc-block-CSA #select2-region {
    margin: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 5px;
}

/*#vwb-opc-delivery-terms {*/
    /*margin-left: 460px;*/
/*}*/

@media (max-width: 1025px) {
    #vwb-opc-delivery-terms {
        margin-left: 0;
    }

    .vwb-end {
        justify-content: flex-start !important;
    }

    label[for="newsletter"] {
        padding-left: 10px;
    }

    #offer_password fieldset {
        padding: 0 !important;
    }
}

.vwb-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.opc-steps {
    list-style: none;
}
.opc-steps li {
    margin-bottom: 20px;
}
.opc-steps .step-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0 10px 43px;
    background-color: #EBEBEB;
    color: #777777;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
}
.opc-steps li.active .step-name{
    background-color: #028AA3;
    color:white;
}
.opc-steps .step-name:before {
    content: attr(data-step);
    position: absolute;
    left: 15px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: white;
    text-align: center;
    line-height: 18px;
    top: 11px;
}
.opc-steps .active .step-name:before{
    color: #028AA3;
}
.opc-steps .step-content {
    padding: 30px 105px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: none;
}
.opc-steps .next-step, .opc-steps .new-confirm-btn {
    background-color: #1AA190;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.opc-steps .next-step i {
    margin-left: 5px;
}
.center {
    text-align: center;
}

#login_form a {
    text-transform: uppercase;
    font-size: 14px;
    color: #028AA3 !important;
    text-decoration: none !important;
    font-weight: bold;
    border-bottom: 1px dotted #028AA3 !important;
}

#order-opc #login_form fieldset {
    border-bottom: none !important;
}

#carriers_section {
    border-top: 1px solid black;
}

.v-flex {
    display: flex;
    flex-direction: column;
}

.block-show-more-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-show-more-info a {
    color: #028AA3 !important;
    border-bottom: 1px dashed #028AA3 !important;
}

.change-step {
    float: right;
    margin-right: 15px;
    text-transform: none;
    font-weight: 100;
    border-bottom: 1px dotted;
    display: none;
}

@media (max-width: 1200px) {
    .opc-steps .step-content {
        padding: 15px;
    }
}