/* product desc */
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
	    z-index: 6666;
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
	padding:0px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
   
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
.modal-body{
padding:40px;
padding-top:20px;}
.modal-header {
background:#028aa3;
color:#fff;
padding-top:15px;
padding-bottom:20px;
padding-left:15px;
text-transform:uppercase;
}
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 20px; }

.top-hr {
  background: #C4C4C4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  margin: 3px 0 8px; }

.box-security .product-heading-h5 {
  margin: 0px;
  margin-bottom: 5px; }

#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a,
  .accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px; }

img {
  max-width: 100%;
  height: auto; }

/* .pb-right-column ***************************************************************************** */
.pb-right-column .pb-right-column-content {
  padding-top: 15px;
  border-top: 1px solid #dddddd; }
  .pb-right-column .pb-right-column-content section {
    margin-bottom: 20px; }
    .pb-right-column .pb-right-column-content section:last-child {
      margin-bottom: 0px; }
.pb-right-column .accesories-slider .button-container {
  display: none; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px; }
  @media (max-width: 479px) {
    .pb-left-column #image-block {
      width: 280px;
      margin: 0 auto; } }
  .pb-left-column #image-block img {
    display: block;
    margin: 0 auto; }
  .pb-left-column #image-block .slick-arrow {
    z-index: 102; }
    @media (min-width: 1000px) {
      .pb-left-column #image-block .slick-arrow {
        opacity: 0; } }
  .pb-left-column #image-block:hover .slick-arrow {
    opacity: 1; }
  .pb-left-column #image-block #view_full_size_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    text-align: center;
    z-index: 103;
    cursor: pointer;
    font-size: 11px;
    background: #fff;
    opacity: 0.4;
    padding: 4px 6px;
    display: inline-block;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    .pb-left-column #image-block #view_full_size_button i {
      font-size: 16px;
      vertical-align: middle; }
    .pb-left-column #image-block #view_full_size_button span {
      vertical-align: middle;
      margin-left: 5px; }
    .pb-left-column #image-block #view_full_size_button:hover {
      opacity: 1; }
    @media (max-width: 999px) {
      .pb-left-column #image-block #view_full_size_button {
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        right: 0; } }
  .pb-left-column #image-block #view_full_size {
    display: block;
    cursor: pointer; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important;
    width: 100% !important;
    float: none !important; }
  .pb-left-column #image-block .zoomWindow, .pb-left-column #image-block .zoomWrapper, .pb-left-column #image-block .zoomWrapperImage {
    width: 100% !important;
    height: 100% !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 50002; }
.pb-left-column #views_block {
  max-width: 480px;
  margin: 0 auto; }
  .pb-left-column #views_block .slick-track {
    margin: 0 auto; }
@media (max-width: 999px) {
  .pb-left-column .sendtofriend, .pb-left-column .print {
    display: none; } }
@media (max-width: 767px) {
  .pb-left-column .zoomWindow {
    display: none !important; }
  .pb-left-column .zoomPad {
    cursor: default; } }
@media (min-width: 768px) {
  .pb-left-column.left-thumbs {
    margin-bottom: 40px; }
    .pb-left-column.left-thumbs .left-thumbs-table {
      position: relative; }
    .pb-left-column.left-thumbs #image-block {
      margin-left: 70px; }
    .pb-left-column.left-thumbs #views_block {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 60px;
      margin: 0px;
      bottom: 0px;
      height: 100%;
      overflow: hidden; }
    .pb-left-column.left-thumbs #thumbs_list {
      height: 100%;
      margin: 0px; }
      .pb-left-column.left-thumbs #thumbs_list .slick-list {
        padding: 0px;
        margin: 0px; }
      .pb-left-column.left-thumbs #thumbs_list li {
        margin: 0px 0px 5px 0px; }
      .pb-left-column.left-thumbs #thumbs_list .slick-next, .pb-left-column.left-thumbs #thumbs_list .slick-prev {
        width: 50px;
        height: 20px;
        margin: 0px;
        overflow: hidden; }
      .pb-left-column.left-thumbs #thumbs_list .slick-next {
        bottom: 0px;
        top: auto;
        left: 5px; }
        .pb-left-column.left-thumbs #thumbs_list .slick-next:before {
          content: '\e604';
          line-height: 21px;
          position: relative;
          left: 3px; }
      .pb-left-column.left-thumbs #thumbs_list .slick-prev {
        top: 0px;
        left: 5px; }
        .pb-left-column.left-thumbs #thumbs_list .slick-prev:before {
          line-height: 21px;
          content: '\e603';
          position: relative;
          left: 3px; }
      .pb-left-column.left-thumbs #thumbs_list #thumbs_list_frame {
        padding: 23px 0px; }
      .pb-left-column.left-thumbs #thumbs_list #thumbs_list_frame, .pb-left-column.left-thumbs #thumbs_list .slick-list {
        height: 100% !important;
        margin: 0px; } }

/* miniatures */
.pb-left-column #views_block {
  margin-top: 10px;
  text-align: center; }
/*qaqashqa*/
#thumbs_list_frame {
  opacity: 1;
  visibility: visible;
  list-style: none;
}
  #thumbs_list_frame.slick-slider {
    opacity: 1;
    visibility: visible; }

#thumbs_list {
  margin: 0 25px; }
  #thumbs_list .slick-prev {
    left: -25px; }
  #thumbs_list .slick-next {
    right: -25px; }
  #thumbs_list .slick-prev, #thumbs_list .slick-next {
    height: 50px;
    width: 20px;
    margin-top: -25px;
    background: none !important; }
    #thumbs_list .slick-prev:before, #thumbs_list .slick-next:before {
      font-size: 34px;
      line-height: 34px; }
  #thumbs_list li {
    float: left;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    margin: 0px 5px; }
    #thumbs_list li a {
      display: block;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #thumbs_list li a:hover, #thumbs_list li a.shown {
        border-color: #dbdbdb; }
    #thumbs_list li img {
      margin: 0 auto;
      height: auto;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

span.view_scroll_spacer {
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 999px) {
    span.view_scroll_spacer {
      display: none !important; } }

#view_scroll_left,
#view_scroll_right {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  line-height: 0;
  font-size: 0;
  overflow: hidden; }
  @media (max-width: 999px) {
    #view_scroll_left,
    #view_scroll_right {
      display: none !important; } }
  #view_scroll_left:before,
  #view_scroll_right:before {
    padding-left: 2px;
    color: #c0c0c0;
    font-family: "warehousefont";
    font-size: 20px;
    line-height: 22px; }
  #view_scroll_left:hover:before,
  #view_scroll_right:hover:before {
    color: #777; }

#view_scroll_right {
  display: inline-block; }
  #view_scroll_right:before {
    content: "\e601"; }

#view_scroll_left {
  margin-top: 0; }
  #view_scroll_left:before {
    content: "\e600";
    padding-right: 2px; }

.resetimg #resetImages i {
  margin-right: 6px; }

.addthis_toolbox {
  margin-bottom: 5px; }

/* link list */
#usefull_link_block {
  list-style-type: none; }
  #usefull_link_block li {
    margin: 0 0 2px 0; }
    @media (min-width: 768px) and (max-width: 999px) {
      #usefull_link_block li {
        float: none !important; } }
    #usefull_link_block li a {
      position: relative;
      padding-left: 20px;
      line-height: 22px;
      display: inline-block; }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        font-size: 14px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal; }
      #usefull_link_block li a:hover {
        color: #000; }
    @media (min-width: 768px) and (max-width: 999px) {
      #usefull_link_block li.print {
        margin: 8px 0 0;
        padding: 0;
        border: none; } }
    #usefull_link_block li.print a:before {
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li.socialsharing_list p {
      margin: 0px; }
    #usefull_link_block li#left_share_fb {
      clear: both;
      float: none; }
      #usefull_link_block li#left_share_fb a {
        padding-left: 18px; }
      #usefull_link_block li#left_share_fb a:before {
        content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #777;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }

/* pb-left-column ****************************************************************************** */
@media (max-width: 767px) {
  .product-title-center .imglog {
    display: none; } }

.pb-center-column {
  /* form */ }
  .pb-center-column .product-title {
    font-size: 11px;
    border-top: 1px solid #dddddd;
    position: relative;
    padding-right: 70px; }
    .pb-center-column .product-title img.imglog {
      position: absolute;
      right: 0;
      top: 15px; }
    .pb-center-column .product-title p {
      margin-bottom: 0px;
      display: inline-block;
      margin-right: 10px; }
    .pb-center-column .product-title .manname {
      margin-right: 10px; }
    .pb-center-column .product-title label {
      margin-bottom: 0px; }
    .pb-center-column .product-title .yotpo {
      display: block !important;
      overflow: hidden; }
      .pb-center-column .product-title .yotpo .yoResult {
        color: inherit !important;
        font-size: inherit !important;
        font-style: normal !important;
        font-weight: normal !important; }
  .pb-center-column h1 {
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: uppercase; }
  .pb-center-column p {
    margin-bottom: 10px; }
  .pb-center-column #short_description_block {
    margin-top: 15px; }
    .pb-center-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content {
      padding: 0px;
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
        line-height: 18px; }
  .pb-center-column #buy_block p.price {
    padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }
  .pb-center-column .buttons_bottom_block {
    margin: 0px; }
  .pb-center-column .more_buttons_bottom_block {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #dddddd;
    clear: both; }
    .pb-center-column .more_buttons_bottom_block .additional_button {
      display: inline-block;
      margin-right: 10px; }
      .pb-center-column .more_buttons_bottom_block .additional_button:last-child {
        margin-right: 0px; }
    .pb-center-column .more_buttons_bottom_block .addthis_toolbox {
      margin-bottom: -3px; }
    .pb-center-column .more_buttons_bottom_block .print:before {
      content: "\f02f";
      font: 400 15px/31px "FontAwesome";
      margin-right: 5px;
      display: inline-block; }
    .pb-center-column .more_buttons_bottom_block .add_to_compare:before {
      content: "\f074";
      font: 400 15px/31px "FontAwesome";
      margin-right: 5px;
      display: inline-block; }
    .pb-center-column .more_buttons_bottom_block .add_to_compare.checked:before {
      content: "\f068"; }

#product p#loyalty {
  padding: 15px 0 15px 35px;
  border-top: 1px solid #dddddd;
  position: relative;
  margin: 0px; }
  #product p#loyalty b {
    color: #777; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
  word-wrap: break-word; }

#attributes fieldset {
  padding-bottom: 5px; }
  #attributes fieldset:last-child {
    padding-bottom: 0px; }
  #attributes fieldset label {
    vertical-align: top;
    display: block;
    font-weight: bold; }
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .form-control {
    max-width: 230px; }
    #attributes .attribute_list .form-control option {
      background: #fff;
      color: #666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      margin-right: 10px;
      overflow: hidden; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none;
    margin-bottom: 0px; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 6px 6px 0;
      border: 1px solid #dddddd;
      clear: none; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 22px;
        width: 22px;
        cursor: pointer; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          position: relative;
          top: -2px; }
      #attributes .attribute_list #color_to_pick_list li.selected {
        position: relative;
        top: -2px;
        border: 2px solid; }
        #attributes .attribute_list #color_to_pick_list li.selected a.color_pick {
          height: 24px;
          width: 24px; }

.product_attributes {
  margin-bottom: 10px;
  border-top: 1px solid #dddddd;
  padding-top: 15px; }

.box-cart-bottom {
  border-top: 1px solid #dddddd;
  padding-top: 15px; }
  .box-cart-bottom label.qty-label {
    width: auto !important; }

.available-box {
  margin-top: 10px;
  margin-bottom: 5px; }

.box-info-product p {
  margin-bottom: 10px; }
.box-info-product .exclusive {
  text-transform: uppercase;
  padding: 0;
  border: none;
  position: relative;
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #009ad0; }
  .box-info-product .exclusive span {
    font-size: 14px;
    line-height: 44px;
    padding: 0px 30px;
    display: block; }
  .box-info-product .exclusive:hover {
    background: #007ab7; }

#add_to_cart .order-exclusive {
  background: #ff9b00!important;
}

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  #center_column.col-sm-9 .col-md-3 .box-info-product p {
    margin-bottom: 7px;
    padding: 15px 10px 0; }
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-top: 1px solid #006fa8;
      text-shadow: 0 1px #015883;
      padding: 12px 16px 14px;
      color: #fff;
      display: block !important;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1319px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          font-size: 16px; } }
      @media (max-width: 999px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: center; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

#product .tab-content > .tab-pane {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin: 0 0 20px; }
  .table-data-sheet tr {
    border-top: 1px solid #dddddd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #dddddd;
        width: 30%;
        font-weight: 700; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 479px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #f8f8f8;
    color: #777;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #dddddd;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #dddddd;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }

.add_to_cart_container {
  display: inline-block;
  vertical-align: middle; }
  .add_to_cart_container.unvisible {
    display: none; }

/* quantity_wanted */
#quantity_wanted_p {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  margin-right: 10px; }
  #quantity_wanted_p .quantity-input-wrapper {
    position: relative;
    float: left;
    display: inline-block; }
    #quantity_wanted_p .quantity-input-wrapper .product_quantity_down, #quantity_wanted_p .quantity-input-wrapper .product_quantity_up {
      position: absolute;
      right: 8px;
      top: -5px;
      width: 5px;
      height: 5px;
      color: #dddddd; }
      #quantity_wanted_p .quantity-input-wrapper .product_quantity_down:hover, #quantity_wanted_p .quantity-input-wrapper .product_quantity_up:hover {
        color: #777777; }
    #quantity_wanted_p .quantity-input-wrapper .product_quantity_down {
      top: 3px; }
  #quantity_wanted_p input {
    width: 60px;
    height: 40px;
    padding: 0 6px;
    float: left;
    border: 1px solid #dddddd;
    line-height: 27px; }
  #quantity_wanted_p .btn {
    float: left;
    margin-left: 3px; }
  #quantity_wanted_p label {
    display: block;
    float: left;
    line-height: 40px !important;
    margin-right: 10px; }

/* availability_statut */
.available-box p:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px; }

#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  font-size: 12px;
  text-align: right; }

#availability_value,
#last_quantities {
  color: #fff;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #46a74e; }

#last_quantities {
  background: #ff7430;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; }

#availability_statut {
  margin-left: 5px; }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable {
  text-align: right;
  position: relative;
  top: 1px; }

#availability_statut #availability_value.warning_inline {
  background-color: #fe9126;
  border-color: #e4752b;
  margin: 0; }

/* box-security */
.box-security {
  border-top: 1px solid #dddddd;
  margin-top: 13px;
  padding: 10px 0px; }

/* prices */
.content_prices {
  margin-bottom: 5px; }
  .content_prices .price {
    display: inline-block; }

.discount {
  display: none; }

.our_price_display {
  font-size: 20px;
  display: inline-block;
  color: #f13340;
  margin: 0px; }

.pack_price {
  display: inline-block; }

#old_price {
  text-decoration: line-through;
  display: inline-block;
  line-height: 23px;
  padding: 0px 5px; }

#old_price_display .price {
  text-decoration: line-through; }

#reduction_percent,
#reduction_amount {
  display: inline-block;
  margin-right: 10px;
  padding: 1px 2px;
  line-height: 23px;
  color: #fff;
  background: #f13340; }
  #reduction_percent span,
  #reduction_amount span {
    display: block; }

#minimal_quantity_wanted_p {
  clear: both;
  margin: 5px 0px 0px 0px; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 479px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #dddddd; }
  #send_friend_form .product p {
    padding: 0;
    color: #777; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    background: #f8f8f8; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #777; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid base-border-color;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* PERSONNALISATION ##################################################################### */
ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }

.customizationUploadLine label {
  display: block;
  vertical-align: top; }
.customizationUploadLine textarea {
  width: 50%;
  border: 1px solid #dddddd;
  color: #777777; }

.customizationUploadBrowse img + a {
  position: relative; }

#customizedDatas {
  float: right; }

.accessories_block div ul li a {
  display: inline-block; }
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin: 0px;
  padding: 10px 0; }
  #product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {
    width: 42px; }
  #product.content_only div.primary_block div.pb-center-column {
    margin-bottom: 0; }
    #product.content_only div.primary_block div.pb-center-column .product-title {
      border-top: none; }
      #product.content_only div.primary_block div.pb-center-column .product-title h1 {
        margin-top: 0px; }
    @media (max-width: 999px) {
      #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px; } }
    @media (max-width: 319px) {
      #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
      padding-right: 0; }
    @media (max-width: 319px) {
      #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
      #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
    #product.content_only div.primary_block div.pb-center-column #ShareDiv {
      position: absolute;
      bottom: 8px; }
  #product.content_only div.primary_block div.pb-right-column .box-info-product {
    border-top-width: 0px;
    border-right: none;
    border-bottom: none;
    min-height: 623px;
    height: 100%;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
    position: relative;
    padding-bottom: 125px; }
    @media (max-width: 999px) {
      #product.content_only div.primary_block div.pb-right-column .box-info-product {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 1px solid #dddddd; } }
    #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0; }
  #product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
    width: 230px; }
  #product.content_only div.primary_block div.pb-right-column .product_attributes,
  #product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
    border-top: 1px solid 1px solid #dddddd; }
  #product.content_only div.primary_block div.pb-right-column .product_attributes {
    padding-top: 0; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (max-width: 1050px) and (max-width: 319px) {
  #product.content_only div.primary_block,
  #product.content_only section.primary_block {
    margin-left: 0; } }
@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }
@media (max-width: 1050px) and (max-width: 319px) {
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 100%;
    float: none;
    padding-left: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }
@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; } }
  @media (max-width: 1050px) and (max-width: 319px) {
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
      margin-top: 10px;
      width: 100%;
      float: none;
      padding-left: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
/***** columns fix ****/
#view_full_size_full {
  width: 100%;
  text-align: center; }

#closezoom {
  position: absolute;
  right: 15px;
  font-size: 24px;
  top: 15px;
  cursor: pointer;
  display: none;
  padding: 15px; }

#taptozoom {
  display: none; }

#pp-zoom-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: none; }
  #pp-zoom-wrapper #views_block {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    overflow: hidden; }
  #pp-zoom-wrapper .slick-prev {
    left: 20px; }
  #pp-zoom-wrapper .slick-next {
    right: 20px; }
  #pp-zoom-wrapper #openzoom {
    display: none; }
  #pp-zoom-wrapper #closezoom {
    display: block;
    z-index: 102; }
  #pp-zoom-wrapper #all-images-wrapper {
    height: 100vh; }
  #pp-zoom-wrapper #image-block {
    height: 100%;
    text-align: center; }
  #pp-zoom-wrapper #view_full_size {
    height: 100%;
    width: 100%;
    position: relative; }
    #pp-zoom-wrapper #view_full_size > a > img {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto; }
  #pp-zoom-wrapper .span_link {
    display: none; }
  #pp-zoom-wrapper .slick-prev, #pp-zoom-wrapper .slick-next {
    z-index: 102; }
  #pp-zoom-wrapper #taptozoom {
    position: absolute;
    bottom: 15px;
    left: 0px;
    text-align: center;
    right: 0px;
    display: block; }
  #pp-zoom-wrapper .new-label, #pp-zoom-wrapper .sale-label, #pp-zoom-wrapper .online-label {
    display: none !important; }

.easyzoom {
  position: relative;
  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.easyzoom img {
  vertical-align: bottom; }

.easyzoom.is-loading img {
  cursor: progress; }

.easyzoom.is-ready img {
  cursor: crosshair; }

.easyzoom.is-error img {
  cursor: not-allowed; }

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 40px;
  height: 40px;
  text-align: center;
  background-image: url("../../../img/loader.gif");
  background-color: #fff;
  -webkit-border-radius: 4px;
  background-position: center center;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-repeat: no-repeat; }

.easyzoom-flyout {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF; }

.easyzoom-flyout img {
  max-width: none; }

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px; }

div .id_description {
  padding-top: 15px !important;
  /*margin-bottom:15px;*/ }

@media (max-width: 999px) {
  .pb-left-column #image-block #view_full_size_button {
    left: 0px;
    position: absolute;
    height: 100%;
    padding: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0 !important;
    z-index: 100; } }

#add_to_cart .order-exclusive:hover{
  background: #ffc01c !important;
  /*color: #028aa3 !important;*/
}
