#scenes .popover-button span{display:block;font-size:28px;text-align:center;}
#scenes .popover-button span:before{content:"\f0fe";font-family:"FontAwesome";display:block;vertical-align:5px;}
.thumbs_banner{margin:10px auto;padding:0;width:100%;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.thumbs_banner .space-keeper{width:21px;float:left;display:block;height:100%;}
.thumbs_banner .space-keeper a.prev{display:none;width:21px;background:#f8f8f8;text-decoration:none;color:#777;}
.thumbs_banner .space-keeper a.prev:before{font-family:"FontAwesome";content:"\f053";vertical-align:middle;padding-top:35px;padding-left:5px;}
.thumbs_banner .space-keeper a.next{float:left;display:block;width:21px;background:#f8f8f8;text-decoration:none;color:#777;}
.thumbs_banner .space-keeper a.next:before{font-family:"FontAwesome";content:"\f054";vertical-align:middle;padding-top:35px;padding-left:5px;}
#scenes_list{overflow:hidden;float:left;width:828px;}
#scenes_list ul{list-style-type:none;}
#scenes_list li{float:left;}
#scenes_list a{display:block;}
#scenes a.popover-button{display:block;position:absolute;text-decoration:none;z-index:2;}
#scenes .scene_products_cluetip, #scenes .popover{width:125px;background:#fff;text-align:center;border:1px solid #dddddd;padding:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#scenes .scene_products_cluetip img, #scenes .popover img{margin:0 auto;}
#scenes .product-image-container,
#scenes .product-name{margin-bottom:5px;}
#scenes div.description{margin-bottom:5px;}
#scenes .button-container{margin-bottom:15px;}
#scenes .button-container a{text-decoration:none;}
@media (max-width:1319px){.content_scene_cat_scene{display:none;}
}