
                                                                                                                                                                                                    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Здравствуйте, {firstname} {lastname},</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Ваша корзина в магазине {shop_name}						</p>
						<span style="color:#777;">
							Мы заметили что во время последнего посещения {shop_name}, вы не закончили начатое оформление заказа.<br /><br /> 
							Ваша корзина была сохранена, можете продолжить оформление заказа, посетив наш магазин: <span style="color:#333;"><strong><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">{shop_url}</a></strong></span><br /><br />
							В качестве стимула мы даем вам скидку в {amount}% на следующий заказ! Предложение действует <span style="color:#333;"><strong>{days}</strong></span> дней, так что не теряйте время!						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Ваши данные для входа в {shop_name}						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Ваш купон:</strong></span> {voucher_num}<br />
							Для получения скидки введите данный код в корзине.						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>