<!--<script type="text/javascript" src="https://points.boxberry.de/js/boxberry.min.js"/></script>-->
<script type="text/javascript" src="/themes/warehouse/semen/points.boxberry.de/js/boxberry.min.js"></script>
