
                                                                                                                                                                                                    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
				<td align="center" style="border:none;padding:7px 0;">
					<table class="table" style="width:100%;background-color:#fff;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333;border:none;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="border:none;padding:7px 0;">
								<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Hi,</span>
							</td>
						</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
						</tr><tr><td class="box" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
								<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
									New comment in {shop_name} blog
								</p>
								<span style="color:#777;">
									<span style="color:#333;"><strong>{firstname} {lastname}</strong></span> added comment on article: <span style="color:#333;"><strong>{post_title}</strong></span><br /><br /><a title="See article" href="{post_link}" style="color:#337ff1;">View article</a>
								</span>

								<p><b>Comment:</b></p>
								<p>{comment_content}</p>
							</td>
						</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333;border:none;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> powered by <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
			</tr></table>