
                                                                                                                                                                                                    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Здравствуйте, {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Благодарим за покупки в магазине {shop_name}!</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Заказ {order_name} - Ожидается оплата чеком						</p>
						<span style="color:#777;">
							Ваш заказ с кодом <span style="color:#333;"><strong>{order_name}</strong></span> успешно размещен и будет<strong> выслан сразу после получения нами оплаты</strong>.						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Вы выбрали оплату чеком.						</p>
						<span style="color:#777;">
							Вот банковские реквизиты для вашего чека:<br /><span style="color:#333;"><strong>Сумма:</strong></span> {total_paid}<br /><span style="color:#333;"><strong>Оплата заказа:</strong></span> {cheque_name}<br /><span style="color:#333;"><strong>Отправьте ваш чек по адресу:</strong></span> {cheque_address_html} 
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Вы можете просмотреть ваш заказ и скачать счет в разделе <a href="{history_url}" style="color:#337ff1;">"История заказов"</a> вашей учетной записи, кликнув <a href="{my_account_url}" style="color:#337ff1;">"Моя учетная запись"</a>.			</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Если у вас гостевая учётная запись, то вы можете отслеживать заказ в разделе <a href="{guest_tracking_url}" style="color:#337ff1;">"Гостевое Отслеживание"</a> нашего магазина.			</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>