
                                                                                                                                <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
    <td align="center" style="padding:7px 0;">
        <table class="table" bgcolor="#ffffff" style="width:100%;"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
        </tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Товара нет в наличии</span></span></td>
        </tr><tr><td class="space_footer" style="padding:0;"> </td>
        </tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
            <table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
                <td style="padding:7px 0;text-align:center;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
                    <span style="text-transform:uppercase;font-weight:500;font-size:18px;">Заказ ДСВ<span>{id_order}</span></span>
                </td>
                <td width="10" style="padding:7px 0;"></td>
            </tr></tbody></table></td>
        </tr><tr><td class="space_footer" style="padding:0;"></td>
        </tr><tr><td class="linkbelow" style="padding:7px 0;"></td>
        </tr><tr><td class="space_footer" style="padding:0;"> </td>
        </tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span></td>
        </tr></tbody></table></td>
    <td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>