.our-advantages {
    margin-bottom: 80px;
    padding: 80px 40px 60px;
    background-color: rgb(242, 242, 242);
}

.our-advantages-title {
    display: block;
    width: 266px;
    margin: 0 auto 50px;
    padding: 16px 0;
    background-color: rgb(2, 138, 164);
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.our-advantages-advantages {
    font-size: 0;
}

.our-advantages-advantage {
    display: inline-block;
    width: 16.666666%;
    padding: 0 10px;
}

.our-advantages-advantage-image {
    display: block;
    margin: 0 auto 26px;
}

.our-advantages-advantage-description {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1366px) {
    .our-advantages {
        padding-left: 10px;
        padding-right: 10px;
    }

    .our-advantages-advantage:first-child {
        padding-left: 0;
    }

    .our-advantages-advantage:last-child {
        padding-right: 0;
    }

    .our-advantages-advantage-image {
        margin-bottom: 22px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-1,
    .our-advantages-advantage-image.our-advantages-advantage-image-6 {
        width: 68px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-2,
    .our-advantages-advantage-image.our-advantages-advantage-image-3 {
        width: 80px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-4 {
        width: 78px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-5 {
        width: 82px;
    }

    .our-advantages-advantage-description {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .our-advantages {
        /*margin-bottom: 40px;*/
        padding-bottom: 5px;
    }

    .our-advantages-title {
        margin-bottom: 60px;
    }

    .our-advantages-advantage {
        width: 33.333333%;
        margin-bottom: 70px;
    }

    .our-advantages-advantage-image {
        margin-bottom: 16px;
    }
}

@media (max-width: 639px) {
    .our-advantages-advantage {
        width: 50%;
    }
}

@media (max-width: 479px) {
    .our-advantages {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 56px;
        padding-top: 50px;
    }

    .our-advantages-title {
        width: auto;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 35px;
    }

    .our-advantages-advantages {
        margin-bottom: -10px;
    }

    .our-advantages-advantage {
        margin-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-1,
    .our-advantages-advantage-image.our-advantages-advantage-image-6 {
        width: 56px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-2,
    .our-advantages-advantage-image.our-advantages-advantage-image-3 {
        width: 63px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-4 {
        width: 65px;
    }

    .our-advantages-advantage-image.our-advantages-advantage-image-5 {
        width: 68px;
    }

    .our-advantages-advantage-description {
        font-size: 12px;
    }
}