#header .container {
    padding-left: 10px;
    padding-right: 10px;
}

#page .header-container {
    background-image: none !important;
}

#page .header-container .container-header {
    font-size: 0;
}

#page .header-container .container-header .cart-prices{
    font-size: 16px;
}

/* Top links */

#page .header-container header .nav {
    position: relative;
    padding-top: 0;
    font-size: 0;
    line-height: 19px;
    border: none;
    background-color: rgb(245, 245, 245) !important;
}

#page .header-container header .nav nav {
    margin: 0;
    padding-top: 12px;
    color: #000;
    font-size: 0;
    font-weight: bold;
}

#page .header-container header .nav nav > div,
#page .header-container header .nav nav > span,
#page .header-container header .nav nav > ul {
    display: inline-block;
}

#page .header-container header .nav nav a,
#page .header-container header .nav nav span,
#page .header-container header .nav nav a:link,
#page .header-container header .nav nav > form span {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    line-height: 14px;
}

#page .header-container header .nav nav .header-work-time-label {
    text-align: left;
}

#page .header-container header .nav nav .vwb-links-container {
    float: right;
    margin-right: 70px;
}

#page .header-container header .nav nav .vwb-links-container > div {
    padding-right: 20px;
}

#page .header-container header .nav nav .vwb-links-container > div.header-phone-1-number-only {
    display: none;
}

#page .header-container header .nav nav .vwb-links-container > div:last-child {
    padding-right: 0;
}

#page .header-container header .nav nav > ul#header_links {
    float: right;
    margin: 0 0 0 48px;
}

#page .header-container header .nav nav > ul#header_links li {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0 30px 0 0;
}

#page .header-container header .nav nav > ul#header_links li:last-child {
    padding: 0;
}

/* Compare form*/

#page .header-container header .nav nav .compare-form {
    float: right;
    display: inline-block;
    padding: 0;
    text-align: right;
}

#page .header-container header .nav nav .compare-form > button {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

#page .header-container header .nav nav .compare-form > button span {
    text-transform: uppercase;
    transition: color 0.1s ease;
}

#page .header-container header .nav nav .compare-form > button .icon-random {
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 18px;
    background-image: url('/img/compare-button-icon.png');
}

#page .header-container header .nav nav .compare-form > button .icon-random:before {
    content: "";
}

#page .header-container header #search_block_top_content {
    display: none;
}

/* Mobile menu button */

#page .header-container header .header-mobile-menu-button {
    display: inline-block;
    margin: 24px 20px 0 10px;
    width: 29px;
    height: 29px;
    background-image: url('/img/header-mobile-menu-button.png');
    vertical-align: top;
    cursor: pointer;
}

/* Mobile search button*/

#page .header-container header .header-mobile-search-button {
    float: right;
    display: inline-block;
    width: 26px;
    height: 28px;
    margin: 25px 32px 0 0;
    background-image: url('/img/header-mobile-search-button.png');
    vertical-align: top;
    cursor: pointer;
}

/* Mobile search */

#page .header-container header .mobile-condensed-header {
    border: none;
}

#page .header-container header .mh-search-module .form-control {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    border: 1px solid rgb(179, 179, 179) !important;
    outline: none;
}

#page .header-container header .mh-search-module .form-control:focus {
    box-shadow: none;
}

/* Logo */

#page .header-container header .mobile-header-logo-container {
    display: none;
}

#page .header-container header .mobile-header-logo {
    display: block;
    margin: 0;
    padding: 5px 0 8px;
}

#page .header-container header .mobile-header-logo img {
    display: block;
    width: 157px !important;
    margin-left: auto;
    margin-right: auto;
}

#page .header-container header .row #header_logo {
    display: inline-block;
    height: auto;
    padding: 12px 10px 14px;
    margin-right: 56px;
}

#page .header-container header .row #header_logo img {
    max-height: none;
    position: relative;
}

/* Search bar */

#page .header-container .container-header .iqit-search-shower {
    position: relative;
    display: inline-block;
    max-width: none;
    width: auto;
    margin: 0 !important;
    padding-top: 30px;
    float: none;
}

#page .header-container .container-header #search_block_top {
    position: static;
    margin: 0;
}

#page .header-container .container-header #search_block_top.iqit-search-c {
    width: 470px;
    min-width: 0;
}

#page .header-container .container-header #search_block_top .form-control {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    border: 1px solid rgb(179, 179, 179) !important;
    outline: none;
}

#page .header-container .container-header #search_block_top .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#page .header-container .container-header #search_block_top .button-search:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('/img/search-button.png');
}

/* My account */

#page .header-container .header_user_info {
    float: right;
    display: inline-block;
    width: auto;
    max-width: none;
    margin-right: 32px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 32px;
}

#page .header-container .header_user_info a,
#page .header-container .header_user_info a:link {
    float: none;
    display: inline-block;
    height: 36px;
    padding-left: 46px;
    background: url('/img/my-account-button.png') no-repeat;
    color: rgb(0, 139, 162);
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}

#page .header-container .header_user_info > a:first-child:before {
    content: '';
}

#page .header-container .header_user_info > a:first-child span {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -6px;
    padding-bottom: 1px;
    border-bottom: 1px dashed rgb(0, 139, 162);
}

/* Cart */

#page .header-container #shopping_cart_container {
    float: right;
    display: inline-block;
    width: auto;
    max-width: none;
    margin-top: 0 !important;
    margin-right: 10px;
    padding-top: 34px;
}

#page .header-container #shopping_cart_container .shopping_cart > a:first-child {
    float: none;
    display: inline-block;
    height: 36px;
    padding-left: 54px;
    background: url('/img/shopping-cart-button.png') no-repeat;
    color: rgb(0, 139, 162);
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}

#page .header-container #shopping_cart_container .shopping_cart > a:first-child span.cart_name {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 -9px 0;
    padding-bottom: 1px;
    border-bottom: 1px dashed rgb(0, 139, 162);
    color: rgb(0, 139, 162);
    font-size: 14px;
    line-height: 12px;
}

#page .header-container #shopping_cart_container .shopping_cart > a:first-child span.cart_name:before {
    content: '';
}

#page .header-container #shopping_cart_container .more_info .ajax_cart_quantity {
    left: 12px;
    top: -20px;
    right: auto;
    bottom: auto;
    width: 22px;
    height: 22px;
    padding-top: 3px;
    border-radius: 22px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

#page .header-container #shopping_cart_container .more_info .ajax_cart_total {
    display: none;
    position: absolute;
    top: -14px;
    left: 54px;
    color: #000;
    text-transform: none;
    font-weight: normal;
}

#page .header-container #shopping_cart_container .more_info .ajax_cart_no_product {
    display: none !important;
}

/* Mobile header*/

#page .header-container header .header-mobile-menu-button,
#page .header-container header .header-mobile-search-button {
    display: none;
}

#page .header-container header .mobile-condensed-header .mobile-main-bar {
    display: none;
}

.cbp-spmenu-push-toright #page .header-container header #mh-sticky.sticked {
    left: 190px !important;
}

/* Horizontal menu */

#page .header-container #iqitmegamenu-horizontal {
    border: none;
}

#page .header-container #iqitmegamenu-horizontal .cbp-fade .cbp-hrsub {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.4);
}

/* Mobile vertical menu */

#iqitmegamenu-accordion #cbp-close-mobile {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

/* Buttons */

body#category .product_list .ajax_block_product .button-container,
body#prices-drop .product_list .ajax_block_product .button-container,
body#search .product_list .ajax_block_product .button-container,
body#best-sales .product_list .ajax_block_product .button-container,
body#manufacturer .product_list .ajax_block_product .button-container,
body#supplier .product_list .ajax_block_product .button-container,
body#order-opc .slick-list .ajax_block_product .button-container {
    float: none;
    display: inline-block;
}

#page .button.ajax_add_to_cart_button,
#page .button.lnk_view,
#page .button.btn.add_to_compare {
    position: relative;
    display: inline-block;
    padding: 10px 14px 8px;
    border: none !important;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#page .button.ajax_add_to_cart_button:not(.stock_quantity),
#page .button.lnk_view {
    background-color: rgb(26, 161, 144) !important;
}

#buy_block #add_to_cart .exclusive,
#buy_block #showOneClickCheckout {
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#page .button.ajax_add_to_cart_button:not(.stock_quantity):hover,
#page .button.lnk_view:hover,
#buy_block #showOneClickCheckout:hover {
    background-color: rgb(23, 180, 159) !important;
    color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#page .button.ajax_add_to_cart_button.stock_quantity:hover {
    background-color: #ffc01c !important;
    color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#buy_block #showOneClickCheckout:hover {
    border-color: rgb(23, 180, 159) !important;
}

#page .button.btn.add_to_compare {
    background-color: rgb(2, 138, 164) !important;
}

#page .button.btn.add_to_compare:hover {
    background-color: rgb(2, 158, 179) !important;
    color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#buy_block #add_to_cart .exclusive:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#page .button.ajax_add_to_cart_button span,
#page .button.lnk_view span,
#page .button.btn.add_to_compare span {
    padding: 0;
}

#page .button.ajax_add_to_cart_button:hover span,
#page .button.lnk_view:hover span,
#page .button.btn.add_to_compare:hover span {
    color: #fff !important;
}

#page .button.ajax_add_to_cart_button span:after,
#page .button.lnk_view span:after,
#page .button.btn.add_to_compare span:after {
    position: absolute;
    top: 8px;
    right: 8px;
}

#page .button.ajax_add_to_cart_button span:after {
    content: '';
    width: 22px;
    height: 20px;
    background-image: url('/img/add-to-cart-button-img.png');
}

#page .button.btn.add_to_compare span:after {
    content: '';
    width: 21px;
    height: 18px;
    background-image: url('/img/compare-button-img.png');
}

/* Old price */

body#index .old-price.product-price,
body#prices-drop .old-price.product-price,
body#search .old-price.product-price,
body#best-sales .old-price.product-price,
body#manufacturer .old-price.product-price,
body#supplier .old-price.product-price,
body#order-opc .old-price.product-price {
    display: block;
}

body#prices-drop .old-price.product-price,
body#search .old-price.product-price,
body#best-sales .old-price.product-price,
body#manufacturer .old-price.product-price,
body#supplier .old-price.product-price,
body#order-opc .old-price.product-price {
    padding-top: 4px;
}

/* Sale label */

.product-image-container .product-flags .sale-label,
#product .left-thumbs-table #image-block .sale-label,
.box-info-product .content_prices #reduction_percent_display,
.box-info-product .content_prices #reduction_amount_display {
    background-color: rgb(255, 1, 0) !important;
    border: none;
    padding: 6px 12px;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
}

#product .left-thumbs-table #image-block .sale-label {
    z-index: 0;
}

.box-info-product .content_prices #reduction_percent,
.box-info-product .content_prices #reduction_amount {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Block */

body#index #iqitcontentcreator .iqitcontent-column {
    margin-top: 0;
}

body#index #iqitcontentcreator .iqit-fullwidth-row {
    padding-top: 100px;
    padding-bottom: 80px;
}

body#index #iqitcontentcreator .title_block {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
}

body#index #iqitcontentcreator .iqit-legend-inner {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8PX;
}

body#index #iqitcontentcreator .iqit-legend-inner .legend-arrow:before {
    top: 1px;
}

/* Banners */

body#index #center_column #ei-slider {
    margin-bottom: 0;
}

body#index #center_column #ei-slider .slick-prev:hover,
body#index #center_column #ei-slider .slick-next:hover {
    color: #fff !important;
    background-color: rgb(2, 158, 179) !important;
    opacity: 0.8;
}

/* Product block */

body#index .ajax_block_product {
    border-width: 1px;
    border-style: solid;
    border-color: transparent !important;
}

body#index .ajax_block_product:hover {
    border-color: #ebebeb !important;
    -webkit-box-shadow: 0 0 12px rgba(40, 186, 177, 0.3);
     box-shadow: 0 0 14px rgba(40, 186, 177, 0.3);
}

/* Product slider 1 */

body#index #iqitcontentcreator .iqitcontent-element-id-22 > div {
    padding-bottom: 68px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs {
    margin-bottom: 43px;
    font-size: 0;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs > li,
body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs > li > a {
    margin: 0;
    padding: 0;
    border: none;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs > li > a {
    padding: 19px 26px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs > li:not(.active) > a {
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1px solid #ebebeb !important;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .nav-tabs > li:not(.active) > a:hover {
    background-color: #fff;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .product-container {
    padding: 20px 18px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .product-image-container {
    margin-bottom: 10px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .h5.product-name-container {
    margin-bottom: 12px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .button-container {
    margin: 0;
    padding-right: 0;
}

body#index #page #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .button.btn.add_to_compare {
    margin-top: 10px;
    margin-bottom: 0;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-prev:hover,
body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-next:hover {
    color: #fff !important;
    background-color: rgb(2, 158, 179) !important;
    opacity: 0.8;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-prev {
    left: -15px;
}

body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-next {
    right: -15px;
}

/* Product price */

body#index .ajax_block_product .price.product-price {
    color: rgb(255, 1, 0) !important;
}

/* Instagram */

body#index #iqitcontentcreator .parallax-row .banner-column .iqitcontent-column-inner {
    background-color: #fff;
    width: 270px;
    margin: 0;
}

/* Product slider 2 */

body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 19px;
    padding-right: 19px;
}

body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title .title_block {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 13px;
}

body#index #iqitcontentcreator .parallax-row .slick-list {
    padding-top: 31px;
}

body#index #iqitcontentcreator .parallax-row .slick-list .ajax_block_product .product-container {
    padding: 20px 18px;
}

body#index #iqitcontentcreator .parallax-row .slick-list .ajax_block_product .product-image-container {
    margin-bottom: 10px;
}

body#index #iqitcontentcreator .parallax-row .slick-list .ajax_block_product .h5.product-name-container {
    margin-bottom: 12px;
}

body#index #iqitcontentcreator .parallax-row .slick-list .ajax_block_product .button-container {
    margin: 0;
    padding-right: 0;
}

body#index #page #iqitcontentcreator .parallax-row .slick-list .ajax_block_product .button.btn.add_to_compare {
    margin-top: 10px;
    margin-bottom: 0;
}

body#index #iqitcontentcreator .parallax-row .slick-prev:hover,
body#index #iqitcontentcreator .parallax-row .slick-next:hover {
    color: #fff !important;
    background-color: rgb(2, 158, 179) !important;
    opacity: 0.8;
}

body#index #iqitcontentcreator .parallax-row .slick-prev {
    left: -19px;
}

body#index #iqitcontentcreator .parallax-row .slick-next {
    right: -19px;
}

body#index #iqitcontentcreator .parallax-row .slick-dots {
    bottom: -19px;
}

body#index .slick-dots li {
    margin: 0 3px;
}

body#index #iqitcontentcreator .parallax-row .slick-dots li {
    margin: 0 4px;
}

body#index .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

body#index #iqitcontentcreator .parallax-row .slick-dots li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

/* Blog */

body#index #iqitcontentcreator .h2.title_block {
    margin-bottom: 40px;
}

body#index #iqitcontentcreator .title_block a {
    text-decoration: none;
}

body#index #iqitcontentcreator .title_block .allposts {
    float: none !important;
    display: inline;
    position: absolute;
    top: 16px;
    right: 30px;
    padding-right: 24px;
}

body#index #iqitcontentcreator .title_block .allposts:after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 12px;
    height: 19px;
    background-image: url('/img/blog-title-arrow-right.png');
}

body#index #iqitcontentcreator .sdsblog-box-content {
    margin: 0 -25px 58px;
    padding: 0;
    font-size: 0;
}

body#index #iqitcontentcreator .sdsblog-box-content > div {
    display: inline-block;
    vertical-align: top;
    width: 33.333333%;
    padding: 0 25px;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-thumbnail {
    position: relative;
    height: 255px;
    max-height: 255px;
    min-height: 0;
    border: none;
    background-size: cover;
    background-position: center;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-thumbnail a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-title {
    border: none;
}

body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .post-title p {
    padding-top: 15px;
    margin-bottom: 9px;
    text-align: left;
}

body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .post-title p a {
    color: #000;
    text-transform: none;
    font-size: 20px;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-sd {
    min-height: 100px;
    padding: 0;
    border: none;
    color: #000;
    font-size: 14px;
}

body#index #iqitcontentcreator .sdsblog-box-content .post-item .fc-button {
    border: none;
}

body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button {
    height: auto;
    padding-top: 14px;
}

body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button a {
    position: relative;
    display: inline-block;
    width: 140px;
    padding: 8px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(26, 161, 144);
    cursor: pointer;
}

body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button a:hover {
    background-color: rgb(23, 180, 159);
}

/* Footer */

#page .footer-container #footer > div.row {
    margin-left: -55px;
    margin-right: -55px;
}

#page .footer-container #footer .footer-block {
    width: 33.333333%;
    padding-left: 51px;
    padding-right: 51px;
}

#page #block_various_links_footer ul:not(.toggle-footer) {
    margin-bottom: 16px;
}

#page .footer-container #footer #block_contact_infos > div {
    padding-left: 0;
}

#page .footer-container #footer #block_contact_infos > div > ul > li {
    position: relative;
    padding-left: 27px;
}

#page .footer-container #footer #block_contact_infos > div > ul > li > i {
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 0;
}

#page .footer-container #footer #block_contact_infos > div > ul > li > i.icon-map-marker {
    width: 13px;
    height: 20px;
    background-image: url('/img/footer-map-img.png');
}

#page .footer-container #footer #block_contact_infos > div > ul > li > i.icon-phone {
    width: 21px;
    height: 19px;
    background-image: url('/img/footer-phone-img.png');
}

#page .footer-container #footer #block_contact_infos .vwb-callback-link a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed #fff;
    cursor: pointer;
    transition: color 0s ease;
}

#page .footer-container #footer #block_contact_infos .vwb-callback-link a:hover {
    color: rgb(53, 189, 215) !important;
    border-bottom: 1px dashed rgb(53, 189, 215);
}

#page .footer-container #footer #block_contact_infos > div > ul > li > i.icon-envelope-alt {
    top: 4px;
    width: 18px;
    height: 14px;
    background-image: url('/img/footer-mail-img.png');
}

#page .footer-container #footer #block_contact_infos > div > ul > li > i:before {
    content: '';
}

#page .footer-container #footer #block_contact_infos > div > ul > li a:link:hover {
    color: rgb(53, 189, 215) !important;
}

#page .footer-container #footer .social_block_mod {
    margin-bottom: 20px;
}

#page .footer-container #footer .social_block_mod li {
    height: 45px;
    padding-bottom: 0;
}

#page .footer-container .footer_copyrights {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Prices drop*/

body#prices-drop.show-left-column #center_column {
    margin: 0 auto;
}

/* Adaptability */

@media (max-width: 1919px) {
    #page .header-container header .nav nav a,
    #page .header-container header .nav nav span,
    #page .header-container header .nav nav a:link,
    #page .header-container header .nav nav > form span {
        font-size: 13px;
    }

    #page .header-container header .nav nav .vwb-links-container {
        margin-right: 40px;
    }

    #page .header-container header .nav nav .vwb-links-container > div {
        padding-right: 16px;
    }

    #page .header-container header .nav nav > ul#header_links {
        margin-left: 24px;
    }

    #page .header-container header .nav nav > ul#header_links li {
        padding-right: 24px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div:nth-child(n+4) {
        display: none;
    }
}

@media (max-width: 1365px) {
    #header .container, body#index .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #page .header-container header .nav nav {
        height: 50px;
        padding-top: 5px;
    }

    #page .header-container header .nav nav a,
    #page .header-container header .nav nav span,
    #page .header-container header .nav nav a:link,
    #page .header-container header .nav nav > form span {
        font-size: 12px;
    }

    #page .header-container header .nav nav .vwb-links-container {
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 0;
    }

    #page .header-container header .nav nav > ul#header_links {
        position: absolute;
        left: 0;
        bottom: 1px;
        margin-left: 0;
        font-size: 9px;
    }

    #page .header-container header .nav nav .compare-form {
        position: absolute;
        right: 0;
        bottom: -2px;
    }

    #page .header-container header .nav nav .compare-form > button .icon-random {
        left: 5px;
        top: 1px;
        width: 15px;
        height: 13px;
        background-size: 15px;
    }

    body#index #iqitcontentcreator .parallax-row .banner-column {
        display: none !important;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-13 {
        width: 100%;
    }

    body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 51px;
        padding-right: 51px;
    }

    body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title .title_block {
        margin-left: -51px;
        margin-right: -51px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-prev {
        left: -51px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-next {
        right: -51px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-slider.slick_carousel_style {
        margin-bottom: 27px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-dots {
        bottom: -25px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content {
        margin-left: -15px;
        margin-right: -15px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div:nth-child(n+3) {
        display: none;
    }

    #page .footer-container #footer > div.row {
        margin-left: -30px;
        margin-right: -30px;
    }

    #page .footer-container #footer .footer-block {
        width: 50%;
        padding-left: 31px;
        padding-right: 31px;
    }

    #page .footer-container #footer #social_block_mod {
        margin-top: 0;
    }

    #page .footer-container #footer #social_block_mod > div > p {
        display: none;
    }
}

@media (max-width: 1319px) {
    #page .header-container header .row #header_logo {
        margin-right: 32px;
    }

    #page .header-container .container-header .iqit-search-shower {
        width: 285px;
    }

    #page .header-container .container-header #search_block_top.iqit-search-c {
        width: 100%;
    }
}

@media (max-width: 1035px) {
    #page .header-container .container-header .iqit-search-shower {
        width: 260px;
    }
}

@media (max-width: 999px) {
    .header-container #header {
        box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    }

    #page .header-container .container-header {
        border: none;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #page .header-container header .desktop-header {
        display: block;
    }

    #page .header-container header .header-mobile-menu-button,
    #page .header-container header .header-mobile-search-button {
        display: inline-block;
    }

    #page .header-container header .row #header_logo {
        padding-top: 15px;
    }

    #page .header-container header .row #header_logo img {
        width: 212px !important;
    }

    #page .header-container .container-header .iqit-search-shower {
        display: none;
    }

    #page .header-container header .mobile-condensed-header .mh-drop {
        -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    }

    #page .header-container #shopping_cart_container .shopping_cart > a:first-child {
        padding-left: 39px;
        overflow: unset;
    }

    #page .header-container #shopping_cart_container .shopping_cart > a:first-child span.cart_name {
        display: none;
    }

    #page .header-container .header_user_info {
        padding-top: 18px;
    }

    #page .header-container #shopping_cart_container {
        padding-top: 23px;
    }

    #page .header-container header .fw-pseudo-wrapper {
        display: none;
    }

    #page .header-container header #mh-sticky.sticked {
        left: 0;
        background: #fff;
        width: 100%;
        top: 0;
        position: fixed;
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
        box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    }
}

@media (max-width: 768px) {
    body#index #center_column #ei-slider .slick-list {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media (max-width: 767px) {
    .header-container #header {
        text-align: left;
    }

    #header .container, body#index .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #page .header-container header .nav nav {
        height: 42px;
        padding-top: 3px;
    }

    #page .header-container header .nav nav .header-work-time-label {
        display: none;
    }

    #page .header-container header .nav nav a,
    #page .header-container header .nav nav span,
    #page .header-container header .nav nav a:link,
    #page .header-container header .nav nav > form span {
        font-size: 10px;
    }

    #page .header-container header .nav nav .vwb-links-container {
        float: none;
        position: relative;
        top: auto;
        right: auto;
    }

    #page .header-container header .nav nav .vwb-links-container > div {
        padding: 0;
    }

    #page .header-container header .nav nav .vwb-links-container > div.header-phone-1 {
        display: none;
    }

    #page .header-container header .nav nav .vwb-links-container > div.header-phone-1-number-only {
        display: inline-block;
        padding-right: 2px;
    }

    #page .header-container header .nav nav .vwb-links-container > div.vwb-callback-link {
        position: absolute;
        left: 0;
        top: 16px;
    }

    #page .header-container header .nav nav .vwb-links-container > div.vwb-callback-link a {
        font-size: 9px;
    }

    #page .header-container header .nav nav > ul#header_links {
        display: none;
    }

    #page .header-container header .nav nav .compare-form {
        top: 6px;
        bottom: auto;
    }

    #page .header-container header .nav nav .compare-form span {
        font-size: 13px;
        font-weight: bold;
    }

    #page .header-container header .nav nav .compare-form > button .icon-random {
        left: 0;
        top: -2px;
        width: 20px;
        height: 18px;
        background-size: auto;
    }

    #page .header-container header #desktop-header > .row {
        margin: 0 -20px;
    }

    #page .header-container header .mobile-header-logo-container {
        display: block;
    }

    #page .header-container header .row #header_logo {
        display: none;
    }

    #page .header-container header .header-mobile-menu-button,
    #page .header-container header .header-mobile-search-button,
    #page .header-container .header_user_info,
    #page .header-container #shopping_cart_container {
        display: none;
    }

    #page .header-container header .mobile-condensed-header {
        margin-left: -20px;
        margin-right: -20px;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar {
        display: table;
        min-height: 0;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button {
        padding: 0;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > span {
        padding: 8px 0;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > span > i {
        display: block;
        margin: 0 auto;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > span > i:before {
        content: '';
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > #mh-menu > i {
        width: 17px;
        height: 17px;
        background-image: url('/img/header-mobile-menu-button-small.png');
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > #mh-search > i {
        width: 16px;
        height: 17px;
        background: url('/img/header-mobile-search-button.png') center;
        background-size: cover;
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > #mh-user > i {
        width: 22px;
        height: 21px;
        background: url('/img/header-mobile-account-button-small.png');
    }

    #page .header-container header .mobile-condensed-header .mobile-main-bar .mh-button > #mh-cart > i {
        width: 22px;
        height: 19px;
        background: url('/img/header-mobile-cart-button-small.png');
    }

    body#index #page #columns {
        padding-top: 30px;
    }

    body#index #center_column #ei-slider .slick-list {
        margin-left: -20px;
        margin-right: -20px;
    }

    body#index #center_column #ei-slider .slick-dots {
        margin: -28px 0 0;
    }

    body#index #center_column #ei-slider .slick-dots li {
        margin: 0 2px;
    }

    body#index #center_column #ei-slider .slick-dots li button {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }

    body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title .title_block {
        margin-left: -20px;
        margin-right: -20px;
        font-size: 19px;
        text-align: center;
    }

    body#index #iqitcontentcreator .iqit-legend-inner {
        font-size: 11px;
        padding-left: 6px;
        padding-right: 6px;
    }

    body#index #iqitcontentcreator .ajax_block_product {
        padding-left: 41px;
        padding-right: 41px;
    }

    body#index #iqitcontentcreator .ajax_block_product:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    body#index #iqitcontentcreator .ajax_block_product .product-container {
        max-width: 214px;
        margin-left: auto;
        margin-right: auto;
    }

    body#index #iqitcontentcreator .slick_carousel .product-container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid #ebebeb !important;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .product-container {
        padding: 11px 14px;
    }

    body#index #iqitcontentcreator .ajax_block_product .product-image-container {
        min-height: 0;
    }

    .product-image-container .img_1,
    .product-image-container .img_0 {
        width: auto;
        max-height: 160px;
    }

    body#index #iqitcontentcreator .ajax_block_product a.product-name {
        font-size: 11px;
    }

    #page .button.ajax_add_to_cart_button,
    #page .button.lnk_view,
    #page .button.btn.add_to_compare {
        font-size: 10px;
        padding: 5px 10px;
    }

    #page .button.ajax_add_to_cart_button span:after,
    #page .button.btn.add_to_compare span:after {
        top: 6px;
        width: 16px;
        height: 14px;
        background-position: center;
        background-size: cover;
    }

    #page .button.lnk_view span:after {
        top: 5px;
        font-size: 14px;
    }

    body#index #iqitcontentcreator .ajax_block_product .prod-desc-cont {
        display: inline-block;
        width: 100%;
    }

    body#index #iqitcontentcreator .ajax_block_product .content_price {
        text-align: left;
    }

    body#index .ajax_block_product .price.product-price {
        font-size: 15px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-22 > div {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    body#index #page #iqitcontentcreator .iqitcontent-element-id-22 .slick-list .ajax_block_product .button.btn.add_to_compare {
        margin-top: 8px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-10 > div {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    body#index #iqitcontentcreator .parallax-row .iqitcolumn-have-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-10 .ajax_block_product {
        padding-left: 46px;
        padding-right: 46px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-prev {
        left: -10px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-next {
        right: -10px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-list {
        overflow: hidden;
        height: 360px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-dots li {
        margin-left: 3px;
        margin-right: 3px;
    }

    body#index #iqitcontentcreator .parallax-row .slick-dots li button {
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-10 .slick-list .ajax_block_product .product-container {
        padding: 11px 14px;
    }

    body#index #page #iqitcontentcreator .iqitcontent-element-id-13 > .iqitcontent-column-inner {
        margin-left: -10px;
        margin-right: -10px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-28 .slick-slider {
        margin-left: -5px;
        margin-right: -5px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-42 {
        margin-top: 52px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-45 > div {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-40 .title_block {
        font-size: 19px;
        text-align: left;
    }

    body#index #iqitcontentcreator .h2.title_block {
        margin-bottom: 20px;
    }

    body#index #iqitcontentcreator .title_block .allposts {
        right: 10px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content {
        margin-bottom: 40px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div {
        width: 100%;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .post-item {
        margin-bottom: 30px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-thumbnail {
        height: 175px;
        max-height: 175px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .post-title p a {
        font-size: 14px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-sd {
        min-height: 98px;
        font-size: 10px;
        line-height: 14px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button a {
        width: 102px;
        padding: 3px 0;
        border-radius: 3px;
        font-size: 10px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button {
        padding-top: 7px;
    }

    #page .footer-container #footer .footer-block {
        width: 100%;
    }

    #page .footer-container #footer p.h4:after {
        display: none;
    }

    #page .footer-container .footer-container-inner a,
    #page .footer-container .footer-container-inner a:link {
        font-size: 15px;
    }

    #page .footer-container #footer .social_block_mod {
        margin-bottom: 40px;
    }

    #page .footer-container #footer .social_block_mod ul {
        display: block !important;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body#index #iqitcontentcreator .ajax_block_product {
        padding-left: 5px;
        padding-right: 5px;
    }

    body#index #iqitcontentcreator .iqitcontent-element-id-10 .ajax_block_product {
        padding-left: 9px;
        padding-right: 9px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .post-title p a {
        font-size: 17px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-sd {
        min-height: 90px;
        font-size: 12px;
        line-height: 18px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button {
        padding-top: 10px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    body#index #iqitcontentcreator .sdsblog-box-content {
        margin-left: 0;
        margin-right: 0;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .post-title p a {
        font-size: 18px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .post-item .post-sd {
        min-height: 140px;
        font-size: 13px;
        line-height: 20px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button {
        padding-top: 10px;
    }

    body#index #columns .content-inner #center_column > div > #iqitcontentcreator .sdsblog-box-content .post-item .fc-button a {
        width: 120px;
        padding: 6px 0;
        border-radius: 4px;
        font-size: 12px;
    }

    #page .footer-container #footer .footer-block {
        float: left;
        width: 50%;
        padding-left: 31px;
        padding-right: 31px;
    }
}

@media (max-width: 639px) {
    body#index #iqitcontentcreator .sdsblog-box-content .slick-list {
        margin-left: 0;
        margin-right: 0;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .slick-slide {
        padding-left: 35px;
        padding-right: 35px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .slick-prev:hover,
    body#index #iqitcontentcreator .sdsblog-box-content .slick-next:hover {
        color: #fff !important;
        background-color: rgb(2, 158, 179) !important;
        opacity: 0.8;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .slick-prev {
        left: 5px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content .slick-next {
        right: 5px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1586px;
    }

    #page .header-container .container-header #search_block_top.iqit-search-c {
        width: 600px;
    }

    #page .header-container #shopping_cart_container .more_info .ajax_cart_total {
        display: inline;
    }

    body#index #iqitcontentcreator .parallax-row .banner-column .iqitcontent-column-inner {
        width: 270px;
        margin-left: auto;
        margin-right: 28px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content {
        margin-left: -15px;
        margin-right: -15px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div {
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
    }

    body#index #iqitcontentcreator .sdsblog-box-content > div:nth-child(n+5) {
        display: none;
    }

    #page .footer-container #footer .footer-block {
        width: 25%;
    }
}

@media (min-width: 1000px) {
    #page .header-container header#header {
        height: auto !important;
    }
}