
    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" bgcolor="#ffffff" style="width:100%;"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Здравствуйте, {firstname}!</span><br /></span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;font-weight:500;font-size:18px;padding-bottom:10px;">Напоминаем, что Вы не завершили оформление заказа на нашем сайте. Если у Вас возникли какие-либо вопросы, можете ответить на это письмо или позвонить нам по бесплатному номеру 8(800)100-66-09.</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> <span style="color:#333;">Ниже приведены детали Вашего заказа. </span> </span></span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td style="padding:7px 0;">
<table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><thead><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Код</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Товар</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Цена</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Количество</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Сумма</th></tr></thead><tbody><tr><td colspan="5" style="border:1px solid #D6D4D4;color:#777;padding:7px 0;">  {products}</td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr></tbody></table>