
                                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" bgcolor="#ffffff" style="width:100%;"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">ABANDONED THREE DAYS! Здравствуйте, {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Благодарим за покупки в магазине {shop_name}!</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Подробности заказа (abandoned 3 days)</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> <span style="color:#333;"><strong>Заказ:</strong></span> {order_name} Оформлен {date}<br /><br /><span style="color:#333;"><strong>Способ оплаты:</strong></span> {payment} </span> </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td style="padding:7px 0;">
<table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><thead><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Код</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Товар</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Цена</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Количество</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Сумма</th></tr></thead><tbody><tr><td colspan="5" style="border:1px solid #D6D4D4;color:#777;padding:7px 0;">  {products}</td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Товары</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_products} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Скидки</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_discounts} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;"></td>
<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;"></td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Доставка</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;">{total_shipping}</td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;"></td>
<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;"></td>
</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Итого к оплате</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:large;"> {total_paid} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Доставка</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> <span style="color:#333;"><strong>Перевозчик:</strong></span> {carrier}<br /><br /><span style="color:#333;"><strong>Способ оплаты:</strong></span> {payment} </span> </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Адрес доставки</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> {delivery_block_html} </span> </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
<td width="20" class="space_address" style="padding:7px 0;"> </td>
<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Адрес плательщика</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> {invoice_block_html} </span> </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
<p></p>
<p><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;">В ближайшее время мы свяжемся с Вами для подтверждения Вашего заказа.</span></p>
<p><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span>Вы можете просмотреть ваш заказ и скачать счет в разделе <a href="{history_url}" style="color:#337ff1;">"История заказов"</a> вашей учетной записи, кликнув <a href="{my_account_url}" style="color:#337ff1;">"Моя учетная запись"</a>. </span> </span></p>
</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> Если у вас гостевая учетная запись, вы можете следить за заказом через <a href="{guest_tracking_url}?id_order={order_name}" style="color:#337ff1;">"Гостевое отслеживание"</a> в нашем магазине. </span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>