
                                                                                                                                                                                                    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Поздравляем!</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>Клиент: {firstname} {lastname} ({email}) сформировал новый заказ в магазине {shop_name}</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Подробности заказа						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Заказ:</strong></span> {order_name} Оформлен {date}<br /><br /><span style="color:#333;"><strong>Способ оплаты:</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			</font><table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><thead><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Код</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Товар</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Цена</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Количество</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Сумма</th>
					</tr></thead><tbody><tr><td colspan="5" style="border:1px solid #D6D4D4;color:#777;padding:7px 0;">
							  {items}
						</td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Товары</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_products}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Скидки</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_discounts}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Подарочная упаковка</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_wrapping}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Доставка</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_shipping}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Всего НДС</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_tax_paid}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Итого к оплате</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" class="total_amount" style="color:#333;padding:0;font-size:21px;font-weight:500;font-family:'Open-sans', sans-serif;">
										<font size="4" face="Open-sans, sans-serif" color="#555454">
											{total_paid}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr></tbody></table></td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Перевозчик:						</p>
						<span style="color:#777;">
							{carrier}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Адрес доставки									</p>
									<span style="color:#777;">
										{delivery_block_html}
									</span>
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
				<td width="20" class="space_address" style="padding:7px 0;"> </td>
				<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Адрес плательщика									</p>
									<span style="color:#777;">
										{invoice_block_html}
									</span>
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Сообщение покупателя:						</p>
						<span style="color:#777;">
							{message}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>