
                                                                                                                                                                                    <p style="line-height:17px;"><a title="{shop_name}" href="{shop_url}"><img style="border:none;" src="{shop_logo}" alt="{shop_name}" /></a><br /><br /></p>
<table border="0"><tbody><tr><td style="width:550px;font-family:Verdana, sans-serif;font-size:11px;">
<p style="background-color:#db3484;width:540px;color:#fff;font-size:12px;font-weight:bold;padding:5px;">Информация</p>
<p>Имя: <b>{firstname}</b><br /> Фамилия: <b>{lastname}</b><br /> Эл.адрес: <b><span style="color:#db3484;">{email}</span></b><br /> Адрес: <b>{address}</b><br /> Телефон: <b>{phone}</b><br /> Комментарий: <b>{comment}</b></p>
<table style="width:100%;font-size:11px;color:#374953;"><tbody><tr style="background-color:#b9babe;text-align:center;"><th style="width:15%;padding:.6em;">Артикул</th><th>Товар</th><th style="width:15%;padding:.6em;">Цена</th><th style="width:15%;padding:.6em;">Количество</th><th style="width:20%;padding:.6em;">Итог</th></tr><tr><td>{items}</td>
</tr></tbody></table><p style="width:100%;text-align:center;"><a style="color:#db3484;font-weight:bold;text-decoration:none;" href="{shop_url}">{shop_name}</a></p>
</td>
</tr></tbody></table>