// Make sure the charset is set appropriately
@charset "UTF-8";

@import "compass";
@import "compass/reset";
@import "theme_variables";
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "icons";
@import "warehousefont";

a:hover {
	text-decoration: none;
}

body {
	min-width: 320px;
	height: 100%;
	line-height: 18px;
	font-size: 13px;
	color: $base-body-color;
	&.content_only {
		background: none;
	}
}

textarea {
	resize: none;
}

//structure
#header {
	z-index: 5003;
}


#columns {
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
}
#index #columns {padding-bottom: 0px;}



#index {
	.tab-content {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.block .title_block:after, .block h4:after{display: none;}
}

.container-header{
  		@media (max-width: $screen-ms-max) {
  			max-width: 100% !important;
  			padding: 0px !important;
  		}
 }
 .nav .container{
 	@media (max-width: $screen-ms-max) {
  			max-width: 100% !important;
  		}
 }

header {
	z-index: 1;
	position: relative;
	.banner {
		background: black;
		max-height: 100%;
		.row {
			margin: 0px;
			
		}
	}
	.nav {
		background: $base-box-bg;
		min-height: 40px;
		padding-top: 5px;
		.row {
			margin: 0px;
		}
		nav {
			margin-top: 2px;
			line-height: 26px;
			width: 100%;
			> a, .compare-form {padding: 0 10px;
				@media (max-width: $screen-ms-max) {
					font-size: 0px
				}
				&:hover{color: $link-hover-color;}
				i{
						@media (max-width: $screen-ms-max) {
					font-size: 13px;
					line-height: 28px;
				}
				}
			}
			.wishlist_top_link{display: none;}
			.compare-form{float: right;
				.bt_compare{
					border: none;
					background: none;
					color: inherit;
					padding: 0px;
					outline: none !important;
				}
			}
		}
	}
	.row {
		position: relative;
		clear: both;
		> .container {
			position: relative;
		}
		#header_logo {
			padding-top: 20px;
			padding-bottom: 20px;
			height: 140px;
			@media (max-width: $screen-ms-max) {
				height: auto;
			}
			img{
			display: inline-block; max-height: 100px;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			}
			@media (min-width: $screen-sm) {
				img {
					width: auto !important;
				}
			}
			&.centered-logo{
				img{
					left: 0;
					right: 0;
				}
			}
			@media (max-width: $screen-ms-max) {
				padding-top: 20px;
				padding-bottom: 20px;
				img {
					display: block;
					position: static;
					margin: 0 auto;
					width: auto;
				}
			}
		}
	}

	.mobile-condensed-header{
		display: none;
	}

	@media (max-width: $screen-sm-max) {
		.mobile-condensed-header{
			display: block;
			.mobile-main-wrapper {padding:  0px 15px; position: relative;}
			.mh-button{
				text-align: center;
				> span, > a{ display: inline-block; cursor: pointer; @include transition(background 0.2s ease, color 0.2s ease);}
				.mh-icon{
					font-size: 24px;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
					}
				}
			}
			.mh-drop{
				top: 100%;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				background: #fff;
				padding: 15px;
				left: 0px;
				width: 100%;
				z-index: 2;
				-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
				-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
				@include transition(opacity 0.2s ease, visibility 0.2s ease);
				ul{
					margin: 0px;
				}
			}
			.active {
				.mh-drop{
					opacity: 1;
					visibility: visible;
				}
				.mh-icon:before{
					font-family: FontAwesome;
					content: "\f00d";
				}
			}

			#mh-cart-wrapper{
				.cart_block{
					display: block !important;
					top: 100%;
					border: none;
					width: 100%;
					text-align: left;
					opacity: 0 !important;
					visibility: hidden;
					@include transition(opacity 0.2s ease, visibility 0.2s ease);
				}
				&.active {
					.ajax_cart_quantity{
						display: none;
					}
					.cart_block{
						opacity: 1 !important;
						visibility: visible;}

					}
				}	


				.mobile-main-bar{
						display: table;
						table-layout: fixed;
						width: 100%;
						min-height: 40px;
						.mh-button, .mobile-h-logo{
						display: table-cell;
						vertical-align: middle;
					}
					}
					
					.mh-button{ width: 40px; 
					@media (max-width: $screen-xs-max) {
						width: 30px;
					}
				}
					.mobile-h-logo{	padding: 10px 10px 10px 0px; a {display: block;} img{max-height: 100px; } }
					&.mobile-style1{
						.mobile-h-logo{	 text-align: center; padding: 10px; img{margin:0 auto; width: auto; } }
					}
					&.mobile-style2{
						.mobile-h-logo{	 img{width: auto; } }
					}
					&.mobile-style3{
						.mobile-h-logo{padding: 10px; img{    margin: 0 auto;} }
						.sticked{
							.mobile-h-logo{visibility: hidden; opacity: 0; height: 0px;padding: 0px !important;}
						}
						.mobile-main-wrapper{
							padding: 0px;
						}
						.mh-button{ > span{ padding: 10px 0px; display: block;}

					&:last-child{border-right: none;}}
					}
				

				&.mobile-search-expanded{
					.not-sticked{
						.mh-search{
							opacity: 0;
							visibility: hidden;
						}
						.mh-search-drop{
							visibility: visible;
							opacity: 1;
							position: static;
						}
					}
						&.mobile-style3{
							.not-sticked{
								.mh-search{
									display: none;
								}
							}
						}
				}
				#mh-sticky{
					-webkit-transform: translate3d(0px,0px,0px);
       				 -ms-transform: translate3d(0px,0px,0px);
       				 transform:  translate3d(0px,0px,0px);
       				 &.sticked{
					left: 0px;
					background: #fff;
					width: 100%;
					top: 0px;
					position: fixed;
					-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
					-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
					box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
					 .cart_block .cart_block_list dl.products{
       max-height: 120px;
}
					.mobile-h-logo{	 img{max-height: 50px;}  padding-top: 5px; padding-bottom: 5px;}
				}

				}

				
			}

			.ajax_cart_quantity{
				border-radius: 26px;
				width: 16px;
				height: 16px;
				text-align: center;
				padding: 0;
				line-height: 15px;
				font-size: 11px;
				position: absolute;
				top: -6px;
				right: -10px;
				background: red;
			}

			.desktop-header{
				display: none;
			}
		}
	}

//title
#center_column {
	.page_product_box {
		h3 {
			@include sub-heading;
		}
	}
}

//text
p.info-title {
	font-weight: bold;
	color: $base-text-color;
	margin-bottom: 25px;
}

p.info-account {
	margin: -4px 0 24px 0;
}

.dark {

}

.main-page-indent {
	margin-bottom: $base-page-indent;
}

.alert {
	border: none;
	font-weight: bold;
	ul, ol {
		padding-left: 15px;
		margin-left: 27px;
		&:last-child{margin-bottom: 0px;}
		li {
			list-style-type: decimal;
			font-weight: normal;
		}
	}
	&.alert-success {
	
		&:before {
			font-family: $font-icon;
			content: "\f058";
			font-size: 20px;
			vertical-align: -2px;
			padding-right: 7px;
		}
	}
	&.alert-danger {

		&:before {
			font-family: $font-icon;
			content: "\f057";
			font-size: 20px;
			vertical-align: -2px;
			padding-right: 7px;
			float: left;
		}
	}
}

.label {
	white-space: normal;
	display: inline-block;
	padding: 6px 10px;
	border: none;
	font-weight: normal;
}

label {
	
	&.required {
		&:before {
			content: "*";
			color: red;
			font-size: 14px;
			position: relative;
			line-height: 12px;
		}
	}
}

.unvisible {
	display: none;
}

.checkbox {
	line-height: 16px;
}

.close {
	opacity: 1;
	&:hover {
		opacity: 1;
	}
}

//buttons
input.button_mini,
input.button_small,
input.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled {
	position: relative;
	display: inline-block;
	color: black;
	border: none;
	background:  #f4b61b;
	cursor: pointer;
	white-space: normal;
	text-align: left;
	outline: none !important;
}

*:first-child+html input.button_mini,
*:first-child+html input.button_small,
*:first-child+html input.button,
*:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled,
*:first-child+html input.button_small_disabled,
*:first-child+html input.button_disabled,
*:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini,
*:first-child+html input.exclusive_small,
*:first-child+html input.exclusive,
*:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled,
*:first-child+html input.exclusive_small_disabled,
*:first-child+html input.exclusive_disabled,
*:first-child+html input.exclusive_large_disabled {
	border: none;
}

//hover button
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button_large:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover {
	text-decoration: none;
	
}

//active button
input.button_mini:active,
input.button_small:active,
input.button:active,
input.button_large:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active {

}

input.button_disabled,
input.exclusive_disabled,
span.exclusive {
	color: #999999;
	background: #cccccc;
	cursor: default;
}

.btn.disabled,
.btn[disabled]:hover {
	opacity: 0.2;
}

.button.button-small {
	color: $button-text-color;
	background: $button-small-bg;
	padding: 0;
	span {
		display: block;
			padding: 6px 12px;
		i {
			vertical-align: 0px;
			margin-right: 5px;
			&.right {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
	&:hover {
			background: $button-small-hover-bg;
		}
}

.button.button-medium {
	color: $button-text-color;
	background: rgb(67, 183, 84);
	border: none;
	span {
		display: block;
		// max 480px
		i {
			&.left {
				font-size: 14px;
				vertical-align: 0px;
				margin: 0px 10px 0 0;
				display: inline-block;
				// max 480px
				@media (max-width: $screen-ms) {
					margin-right: 5px;
				}
			}
			&.right {
				margin-right: 0;
				margin-left: 9px;
				// max 480px
				@media (max-width: $screen-ms) {
					margin-left: 5px;
				}
			}
		}
	}
	&:hover {
		background: rgb(58, 160, 76);
	}
}

.button.button-medium.exclusive {

}

.link-button {
	font-weight: bold;
	i {
		margin-right: 5px;
		&.large {
			font-size: 26px;
			line-height: 26px;
			vertical-align: -3px;
			color: silver;
		}
	}
}

.btn.button-plus,
.btn.button-minus {
	font-size: 14px;
	line-height: 14px;
	padding: 0;
	color: $base-body-color;
	@include border-radius(0);
	span {
		display: block;
		border: 1px solid $light-border-color;
		vertical-align: middle;
		width: 25px;
		height: 25px;
		text-align: center;
		vertical-align: middle;
		padding: 4px 0 0 0;
		background: rgb(255, 255, 255);
	}
	&:hover {
		color: $base-text-color;
		span {
			filter: none;
			background: #f6f6f6;
		}
	}
}

.button.exclusive-medium {
	font-size: 17px;
	padding: 0;
	line-height: 21px;
	color: $button-em-color;
	font-weight: bold;
	border: 1px solid;
	border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
	span {
		border: 1px solid;
		border-color: $light-border-color;
		display: block;
		padding: 9px 10px 11px 10px;
		background: rgb(247, 247, 247);
		background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
		background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0);
		// max 480px
		@media (max-width: $screen-ms) {
			font-size: 15px;
			padding-right: 7px;
			padding-left: 7px;
		}
		&:hover {
			border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
			span {
				background: rgb(231, 231, 231);
				background: -moz-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(231, 231, 231, 1)), color-stop(0%, rgba(231, 231, 231, 1)));
				background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -o-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -ms-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e7e7e7',GradientType=0);
			}
		}
	}
}

.button.ajax_add_to_cart_button {
	color: $button-text-color;
	padding: 0;
	span {
		padding: 6px 14px;
		display: block;
	}
	&:hover {
	background: #0084bf;
		span {
			filter: none;
		}
	}
}

.button.lnk_view {
	color: $button-text-color;
	padding: 0;
	span {
		padding: 6px 14px;
		display: block;
	}
	&:hover {
		background: #0084bf;
		span {
			filter: none;
		}
	}
	i.left {
		padding-right: 8px;
		color: #777777;
	}
}

//form
.form-control {
	padding: 3px 5px;
	height: 27px;
	@include box-shadow(none);
	&.grey {
		background: $base-box-bg;
	}
}

//table
table.std,
table.table_block {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #999999;
	border-bottom: none;
	background: white;
	border-collapse: inherit;
}

table.std th,
table.table_block th {
	padding: 14px 12px;
	font-size: 12px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	background: #999999;
}

table.std tr.alternate_item,
table.table_block tr.alternate_item {
	background-color: #f3f3f3;
}

table.std td,
table.table_block td {
	padding: 12px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	vertical-align: top;
}

.table {
	margin-bottom: 30px;
	> thead {
		> tr {
			> th {
				background: $table-background;
				border-bottom-width: 1px;
				vertical-align: middle;
			}
		}
	}
	td {
		a.color-myaccount {
			color: $link-color;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	tfoot {
		tr {
			background: $table-background;
		}
	}
}

//product elements
.product-name {
	line-height: 23px;
	margin-bottom: 0;
	font-weight: normal;
	a {
		line-height: 23px;

		@media (max-width: $screen-sm) {
			font-size: 14px;
		}
	}
}

.price {
	white-space: nowrap;
}

.price.product-price {
	color: $product-price-color;
}

.old-price {
	text-decoration: line-through;
}

.old-price.product-price {
	font-size: 11px;
	font-size: 12px;
}


.price-percent-reduction {
	background: #f13340;
	color: $light-text-color;
	padding: 3px 4px;
	display: inline;

	&.small {
		padding: 1px 4px;
		font-size: 11px;
		margin-left: 4px;
	}
}

//Labels New/Sale

.new-label, .sale-label, .online-label { 
		font-size: 9px;
		line-height: 12px;
	height: 12px;
	padding: 4px 5px 2px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: absolute;
	z-index: 1;

}
.new-label {
	color: $light-text-color;
	background: #6ad4ff;
	left: 0px;
	top: 10px;

}

.sale-label {
	color: $light-text-color;
	background: #f13340;
	right: 0px;
	top: 10px;

}
.online-label {
	color: $text-color;
	background: #fff;
	left: 0px;
	top: 10px;
}
.online-label2{
	left: 0px;
	top: 33px;
}


//BOXES
.box {
	background: $base-box-bg;
	border: 1px solid $base-border-color;
	padding: $base-box-padding;
	margin: $base-box-indent;
	line-height: 23px;
	p {
		margin-bottom: 0;
	}
	&.box-small {
		padding: 9px 10px 9px 20px;
		.dark {
			padding-top: 10px;
			padding-right: 20px;
			margin-bottom: 0;
			width: auto;
		}
	}
}

.page-product-box {
	padding-bottom: 10px;
}

.product-box {
	width: 178px;
	float: left;
	@include box-sizing(border-box);
	.product-image {
		border: $main_border;
		background: white;
		padding: 5px;
		display: block;
		margin-bottom: 11px;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

//Homepage Tabs
#home-page-tabs {
	border: none;
	background: $light-background;
	// min 768px
	@media (min-width: $screen-sm) {
		padding: 10px 0;
		margin: 0 0 0 -18px;
	}
	> li {
		margin-bottom: 0;
		// min 768px
		@media (min-width: $screen-sm) {
			border-left: 1px solid $base-border-color;
			margin: 0 0px 0 9px;
			padding: 0 0px 0 9px;
		}
		// max 479px
		@media (max-width: $screen-ms - 1) {
			width: 100%;
		}
		a {
			font:  21px / 24px $font-custom;
			color: $base-heading-color;
			text-transform: uppercase;
			border: none;
			outline: none;
			margin: 0;
			padding: 10px;
			// min 768px
			@media (min-width: $screen-sm) {
				padding: 1px 10px;
			}
		}
		&:first-child {
			border: none;
		}
	}
	> li.active a,
	>li a:hover {
		background: $dark-background;
		color: $light-text-color;
		padding: 10px;
		// min 768px
		@media (min-width: $screen-sm) {
			margin: -9px 0;
		}
	}
}

.block {
	margin-bottom: 20px;
	// max 767px
	.block_content {
		// max 767px
		@media (max-width: $screen-ms-max) {
			margin-bottom: 20px;
		}
	}
}

.block {
	.title_block,
	h4 {
		font-size: 12px;
		line-height: 14px;
		border-bottom: $main_border;
		text-transform: uppercase;
		padding: 0px 5px 10px 0px;
		margin-bottom: 10px;
		margin-top: 0px;

		@media (max-width: $screen-ms-max) {
			position: relative;
			&:after {
				display: block;
				font-family: $font-icon;
				content: "\f107";
				position: absolute;
				right: 5px;
				top: 8px;
				font-size: 22px;
				font-weight: normal;
			}
			&.active:after {
				content: "\f106";
			}
		}
		a {
			color: $base-heading-color;
			&:hover {
				color: $base-text-color;
			}
		}
	}
	.list-block {
		// max 767px
		li {
			padding: 5px 0 6px 1px;
			border-top: 1px dotted $base-border-color;
			position: relative;
			@include transition(all 0.2s ease);
			&:hover{ 
				> a {
					&:before {
						left: 3px; 
					}
				}

			}
			a {
				padding-left: 10px;
				display: block;
				i {
					display: none;
				}
				&:before {
					content: "\f105";
					display: inline;
					position: absolute;
					@include transition(left 0.2s ease);
					left: 0px;
					font-family: $font-icon;
					color: $base-text-color;
				}
				&:hover {
					color: $base-text-color;
				}
			}
			&:first-child {
				border-top: none;
				padding-top: 0px;
			}
		}
		.form-group {
			padding-top: 20px;
			border-top: 1px solid $base-border-color;
			margin-bottom: 0;
			select {
				max-width: 270px;
				// max 767px
				@media (max-width: $screen-ms-max) {
					width: 270px;
				}
			}
		}
		.btn {
			margin-top: 12px;
		}
	}
	.products-block {
		li {
			padding: 0 0 20px 0;
			margin-bottom: 20px;
			border-bottom: 1px dashed $base-border-color;
			.products-block-image {
			padding-left: 0px;
			}
			.product-content {
				overflow: hidden;
				padding-right: 0px;
				h5 {
					margin: -3px 0 0 0;
				}
			}
		}
		.product-name {
			line-height: 18px;
		}
		.product-description {
			margin-bottom: 14px;
		}
		.price-percent-reduction {
			padding: 1px 6px;
		}
	}
}

.page-heading, .advanced-checkout-wrapper h2{
		font-size: 18px;
	text-transform: uppercase;
	padding: 0px 0px 8px 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid $base-border-color;
	overflow: hidden;
	margin-top: 0px;
	span.heading-counter {
		font-size: 13px;
		line-height: 22px;
		float: right;
		text-transform: none;
		font-weight: normal;
		@media (max-width: $screen-ms-max) {
			float: none;
			display: block;
			padding-top: 5px;		
			margin-bottom: 10px;
		}
	}
	&.bottom-indent {
		margin-bottom: 16px;
	}
	.page-heading {
		border: none;
		padding: 0px;
		margin: 0px;
		float: left;
		@media (max-width: $screen-ms-max) {
float: none;
		}
	}
}

.page-subheading {
	text-transform: uppercase;
	font-size: 16px;
	padding: 0 0 10px;
	line-height: normal;
	margin-bottom: 12px;
	border-bottom: 1px solid $base-border-color;
	margin-top: 0px;
}

h3.page-product-heading {
			font-size: 12px;
		line-height: 14px;
		color: $base-heading-color;
		border-bottom: $main_border;
		text-transform: uppercase;
		padding: 6px 5px 10px 0px;
		margin-bottom: 10px;
		margin-top: 0px;
}

// BLOCK .footer_links (cms pages)
ul.footer_links {
	padding: 20px 0 0px 0;
	border-top: 1px solid $base-border-color;
	height: 65px;
	li {
		float: left;
		&+li {
			margin-left: 10px;
		}
	}
}

// barre comparaison / tri
.content_sortPagiBar {
	margin-top: -9px;
	.sortPagiBar {
		border-bottom: 1px solid $base-border-color;
		clear: both;
		margin-bottom: 20px;
		#productsSortForm {
			float: right;
			margin-left: 20px;
			margin-bottom: 10px;
			select {
				max-width: 192px;
				float: left;
				@media (max-width: $screen-sm-max) {
					max-width: 160px;
				}
			}
			
		}
		.selector {
				    display: inline-block;
			}
		.nbrItemPage {
			float: right;
			margin-bottom: 10px;
			select {
				max-width: 120px;

			}
			.clearfix > span {
				padding: 3px 0 0 12px;
				display: inline-block;
				float: left;
			}
		}
		label,
		select {
			    display: inline-block;
		}
		label {
			padding: 3px 6px 0 0;
		}
		&.instant_search {
			#productsSortForm {
				display: none;
			}
		}
	}
	.view-and-count{
		float: left;
	}
	.product-count{
	display: inline-block;
    vertical-align: middle;
			@media  (max-width: $screen-sm-max) {
				display: none!important;
			}
		
	}
	.display,
	.display_m {
		margin-bottom: 0px;
		display: inline-block;
   		 vertical-align: middle;
		margin-right: 8px;
		li {
			float: left;
			padding-left: 5px;
			text-align: center;
			a {
				font-size: 11px;
				line-height: 14px;
				cursor: pointer;
				text-decoration: none;
				i {
					display: block;
					font-size: 18px;
					line-height: 32px;
					opacity: 0.5;
				}
				&:hover {
					i {
						opacity: 1;
					}
				}
			}
			&.selected {
				a {
					cursor: default;
				}
				i {
					opacity: 1;
				}
			}
			&.display-title {
				padding: 5px 4px 0 0;
			}
		}
	}
}

//pagination
.top-pagination-content{
	border-top: 1px dotted $base-border-color;
	clear: both;
	margin: 0px;
	top: 1px;
	padding: 0px;
	.showall {
		top: 13px;
	}
	ul.pagination{	margin: 12px 0px 8px 0;}
}
.bottom-pagination-content{
	margin-top: 29px;
	padding: 12px 0 12px 0;
	.showall {
		top: 20px;
	}
	ul.pagination{	margin: 8px 0px 8px 0;}
}
.top-pagination-content,
.bottom-pagination-content {
	text-align: center;

	position: relative;
	div.pagination {
		margin: 0;
		display: block;

		text-align: center;
		// min 992px max 1199px

		.showall {
		position: absolute;
		right: 0px;
			// min 992px max 1199px
			@media (min-width: $screen-md) and (max-width: $screen-md-max) {
				margin-right: 11px;
			}
			// max 991px
			@media (max-width: $screen-sm-max) {
				margin-right: 0;
			}
			.btn {
				border:  none;
				font-weight: normal;
				text-transform: none;
				padding: 0px;
				background: none !important;
				i{
					margin-right: 4px;
				}
				span {
					font-size: 13px;
					line-height: normal;
					color: $base-body-color;
				}
			}
		}
	}
	ul.pagination {
	
		// max 991px
		@media (max-width: $screen-sm-max) {
			float: left;
		}
		li {
			display: inline-block;
			float: left;
			> a,
			> span {
				padding: 2px 0px;
				border: 1px solid;
				border-color: $base-border-color;
				display: block;
				width: 24px;
				height: 24px;
				margin: 0px 1px 0px 0px;
					@include transition(all 0.2s ease);
				span {
					
					display: block;
				}
			}
			> a:hover {
				span {
					background: $pagination-hover-bg;
				}
			}

			&.disabled{display: none;}
			&.active {
				> span {
					border-color: $base-border-color;
					background: $pagination-hover-bg;
					color: $base-body-color;
				}
			}
		}

	}
	.compare-form {
		float: right;
		// max 479px
		@media (max-width: $screen-ms - 1) {
			float: left;
			width: 100%;
			text-align: left;
			padding-bottom: 10px;
			clear: both;
		}
	}
	.product-count {
		padding: 11px 0 0 0;
		float: left;
		// max 991px
		@media (max-width: $screen-sm-max) {
			clear: left;
		}
	}
}

.bottom-pagination-content {
	border-top: 1px solid $base-border-color;
}

//CART steps
ul.step {
	margin-bottom: 20px;
	overflow: hidden;
	//min 480px
	@media (min-width: $screen-sm) {
		@include border-radius(4px);
	}
	li {
		float: left;
		width: 20%;
		text-align: left;
		border: 1px solid $base-border-color;
		border-left-width: 0px;
		// max 480px
		@media (max-width: $screen-ms-max) {
			width: 100%;
			border-left-width: 1px;
		}
		a,
		span,
		&.step_current span,
		&.step_current_end span {
			display: block;
			padding: 13px 10px 14px 13px;
			font-size: 17px;
			line-height: 21px;
			position: relative;
			// max 991px
			@media (max-width: $screen-md) {
				font-size: 15px;
			}
			// min 991px
			@media (min-width: $screen-md) {
				&:after {
					content: ".";
					position: absolute;
					top: 0;
					right: -31px;
					z-index: 0;
					text-indent: -5000px;
					display: block;
					width: 31px;
					height: 52px;
					margin-top: -2px;
				}
			}
			&:focus {
				text-decoration: none;
				outline: none;
			}
		}
		&.first {
			border-left-width: 1px;
			border-left-color: #b7b7b7;
			//min 480px
			@media (min-width: $screen-ms) {
				@include border-top-left-radius(4px);
				@include border-bottom-left-radius(4px);
			}
			span,
			a {
				z-index: 5;
				padding-left: 13px !important;
				//min 480px
				@media (min-width: $screen-ms) {
					@include border-top-left-radius(4px);
					@include border-bottom-left-radius(4px);
				}
			}
		}
		&.second {
			span, a {
				z-index: 4;
			}
		}
		&.third {
			span, a {
				z-index: 3;
			}
		}
		&.four {
			span, a {
				z-index: 2;
			}
		}
		&.last {
			span {
				z-index: 1;
			}
			//min 480px
			@media (min-width: $screen-ms) {
				@include border-top-right-radius(4px);
				@include border-bottom-right-radius(4px);
				span {
					@include border-top-right-radius(4px);
					@include border-bottom-right-radius(4px);
				}
			}
		}
		&.step_current {
			font-weight: bold;
			background: #575757;
			span {
				color: $light-text-color;
				position: relative;
				font-weight: bold;
				//min 991px
			}
		}
		&.step_current_end {
			font-weight: bold;
		}
		&.step_todo {
			//background: $fff;
			span {
				display: block;
				position: relative;
				// min 991px
			}
		}
		&.step_done {
			background: $base-box-bg;
		}
		&.step_done.step_done_last {
		}
		&#step_end {
			span {
			}
		}
		em {
			font-style: normal;
			// min 480px max 767px
			@media (min-width: $screen-ms) and (max-width: $screen-ms-max) {
				display: none;
			}
		}
	}
}

// module productcomments
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}

.rating:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}

.cancel, .star {
	overflow: hidden;
	float: left;
	margin: 0 1px 0 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.cancel, .cancel a {
	background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

div.star_on a {
	background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
	background-position: 0 -32px;
}

.pack_content {
	margin: 10px 0 10px 0;
}

.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 lightyellow;
}

#page .rte {
	background: transparent none repeat scroll 0 0;
	> h2, > h1, > h3{ margin-top: 0px;}
}

.listcomment {
	list-style-type: none;
	margin: 0 0 20px 0 !important;
}

.listcomment li {
	padding: 10px 0;
	border-bottom: 1px dotted $base-border-color;
	color: #666666;
}

.listcomment .titlecomment {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: $base-text-color;
}

.listcomment .txtcomment {
	display: block;
	padding: 5px 0;
	color: $base-text-color;
}

// BREADCRUMB
.breadcrumb {
	display: block;
	padding: 0px;
	padding-bottom: 2px;
	line-height: 24px;
	background: none;
	min-height: 6px;
	overflow: hidden;
	margin-bottom: 0px;
	position: relative;
	top: -11px;
	z-index: 1;
	&.fullwidth-breadcrumb{display: block;
padding: 6px 0;
color: #8f8f8f;
background: #f2f2f2;
background: -moz-linear-gradient(top,#f2f2f2 1%,#f7f7f7 50%,#f9f9f9 99%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#f2f2f2),color-stop(50%,#f7f7f7),color-stop(99%,#f9f9f9));
background: -webkit-linear-gradient(top,#f2f2f2 1%,#f7f7f7 50%,#f9f9f9 99%);
background: -o-linear-gradient(top,#f2f2f2 1%,#f7f7f7 50%,#f9f9f9 99%);
background: -ms-linear-gradient(top,#f2f2f2 1%,#f7f7f7 50%,#f9f9f9 99%);
background: linear-gradient(to bottom,#f2f2f2 1%,#f7f7f7 50%,#f9f9f9 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2',endColorstr='#f9f9f9',GradientType=0 );
position: static;
margin: 0px;
	}
	.container{display: block;}
	.navigation-pipe {
		width: 20px;
		display: inline-block;
		text-indent: -5000px;
	}
	div {display: inline;}
	a {
		display: inline-block;



		position: relative;
		z-index: 2;
		color: $base-text-color;
		&.home {
			font-size: 14px;
			color: $text-color;
			width: 12px;
			padding: 0;
			z-index: 99;
			line-height: 22px;
			display: inline-block;
			height: 25px;
			i {
				vertical-align: -1px;
			}
			&:after{
				right: -15px;
			}
		}
		&:after {
			display: inline-block;
			content: ".";
			position: absolute;
			right: -11px;
			top: 8px;
			width: 8px;
			height: 8px;
			border-right: 1px solid $base-border-color;
			border-top: 1px solid $base-border-color;
			text-indent: -5000px;
			z-index: -1;
			@include rotate(45deg);
		}
		&:hover {
			color: #777777;
		}
	}
}

.ie8 {
	.breadcrumb {
		min-height: 1px;
		a:after {
			display: none;
		}
		.navigation-pipe {
			width: 20px;
		}
	}
}

// FOOTER
.footer-container {

	.footer-container-inner{
	background-color: $base-box-bg;
	border-top: 1px solid $base-border-color;
	border-bottom: 1px solid $base-border-color;
	}
	.footer-container-inner1{
	background-color: $base-box-bg;
	border-top: 1px solid $base-border-color;
	}
	.footer-container-inner-2{padding: 0px 20px;}
	.footer-container-inner1-2{padding: 0px 20px;}
	.container {
		padding-bottom: 0px;
	}
	#footer, #footer1 {
		.row {
			position: relative;
		}
		.footer-block {
			margin-top: 20px;
		}
		a {
			color: $base-body-color;
			&:hover {
				color: $base-text-color;
			}
		}
		h4 {
			font-size: 12px;
		line-height: 14px;
		color: $base-heading-color;
		border-bottom: $main_border;
		text-transform: uppercase;
		padding: 6px 5px 10px 0px;
		margin-bottom: 10px;
		margin-top: 0px;

		@media (max-width: $screen-ms-max) {
			position: relative;
			&:after {
				display: block;
				font-family: $font-icon;
				content: "\f107";
				position: absolute;
				right: 5px;
				top: 8px;
				font-size: 22px;
				font-weight: normal;
			}
			&.active:after {
				content: "\f106";
			}
		}
		a {
			color: $base-heading-color;
			&:hover {
				color: $base-text-color;
			}
		}
	}	
		.bullet{
			li{
			padding: 5px 0 6px 1px;
			border-top: 1px dotted $base-border-color;
			position: relative;
			@include transition(all 0.2s ease);
			&:hover{
				a {
				&:before {
					left: 3px;
					}
					}
			 }
			a {
				display: block;
				padding-left: 10px;
				i {
					display: none;
				}
				&:before {
					content: "\f105";
					display: inline;
					position: absolute;
					@include transition(left 0.2s ease);
					left: 0px;
					font-family: $font-icon;
					color: $base-text-color;
				}
				&:hover {
					color: $base-text-color;
				}
			}
			&:first-child {
				border-top: none;
			}
			}
		}
		ul {
			li {
				padding-bottom: 8px;
			}
		}
		#block_contact_infos {
			> div {
				padding: 0 0 0 5px;
				// max 767px
				@media (max-width: $screen-ms-max) {
					padding-left: 0;
				}
				ul {
					li {
						padding: 0 0 7px 4px;
						overflow: hidden;
						line-height: 22px;
						> span,
						> span a {
							font-weight: normal;
						}
						i {
							font-size: 18px;
							width: 26px;
							text-align: center;
							padding-right: 12px;
							float: left;
							color: #908f8f;
							position: relative;
							top: 2px;
						}
					}
				}
			}
		}
		.blockcategories_footer {
			clear: left;
		}
		#social_block {
			float: left;
			width: 50%;
			padding: 22px 15px 0 15px;
			// max 767px
			@media (max-width: $screen-ms-max) {
				width: 100%;
				float: left;
				padding-top: 5px;
			}
			ul {
				float: right;
				@media (max-width: $screen-ms-max) {
					float: none;
				}
				li {
					float: left;
					width: 40px;
					text-align: center;
					// min 768px max 991px
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
						width: 30px;
					}
					a {
						display: inline-block;
						color: #908f8f;
						font-size: 28px;
						// min 768px max 991px
						@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
							font-size: 20px;
						}
						span {
							display: none;
						}
						&:before {
							display: inline-block;
							font-family: $font-icon;
							vertical-align: -5px;
						}
						&:hover {
							color: $light-text-color;
						}
					}
					&.facebook {
						a {
							&:before {
								content: "\f09a";
							}
						}
					}
					&.twitter {
						a {
							&:before {
								content: "\f099";
							}
						}
					}
					&.rss {
						a {
							&:before {
								content: "\f09e";
							}
						}
					}
					&.youtube {
						a {
							&:before {
								content: "\f167";
							}
						}
					}
					&.google-plus {
						a {
							&:before {
								content: "\f0d5";
							}
						}
					}
					&.pinterest {
						a {
							&:before {
								content: "\f0d2";
							}
						}
					}
				}
			}
			h4 {
				float: right;
				margin-bottom: 0;
				font-size: 21px;
				line-height: 25px;
				text-transform: none;
				padding: 0 10px 0 0;
				// max 767px
				@media (max-width: $screen-ms-max) {
					display: none;
					text-align: center;
				}
			}
		}
		.bottom-footer {
			position: absolute;
			bottom: -55px;
			left: 0;
			div {
				padding: 15px 0 0 0;
				border-top: 1px solid #515151;
				width: 100%;
			}
		}
	}
	.footer_copyrights{
	line-height: 31px;
	padding: 15px 0;
	.col-sm-6{
		p:last-child{margin: 0px;}
	}
	.container{padding-bottom: 0px;}
	@media (max-width: $screen-sm) {
		text-align: center;
	}
	.paymants_logos img{float: right;
		@media (max-width: $screen-sm) {
			float: none;
			margin-top: 10px;
			margin-left: auto;
 			margin-right: auto;
		}
	}
}
}


#toTop {
cursor: pointer;
width: 56px;
height: 30px;
text-align: center;
line-height: 32px;
position: fixed;
bottom: 10px;
right: 10px;
cursor: pointer;
font-size: 42px;
background: $light-background;
zoom: 1;
opacity: 0.0;
visibility:hidden;
transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
&.totop-showed{
opacity: 0.6; 
visibility:visible;
}
&:before { content: "\e603"; font-family: $font-warehouse;}}
 
#toTop:hover {
    opacity: 1.0; 
    color: $light-background;
    background: $dark-background;
 }


#reinsurance_block {
	clear: both !important;
}

// Make sure lists are correctly displayed in tinyMCE BO edition mode too
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
	margin-left: 20px;
}

.rte 
{
ul {
	list-style-type: disc;
	padding: 5px;
	padding-left: 30px;
}

ol {
	list-style-type: decimal;
	padding: 5px;
	padding-left: 30px;
}

em{
	font-style: italic;}
a:link{
text-decoration: underline;
}
p{
	margin: 0px;
	padding: 0px 0px 9px;
}
}
.block_hidden_only_for_screen {
	display: none;
}

// PAIMENT - PAGE ORDER

//nav bottom
.cart_navigation {
	border-top: 1px solid $base-border-color;
	padding-top: 20px;
	margin: 0 0 20px;
	.button-medium {
		float: right;
		font-size: 16px;
		span {
			padding: 6px 7px 5px 7px;
			// max 992px
			@media (max-width: $screen-md) {
				font-size: 14px;
			}
		}
		i.right {
			font-size: 18px;
			line-height: 18px;
			margin-left: 6px;
		}
	}
	.button-exclusive {
		border: none;
		background: none;
		padding: 0;
		margin: 9px 0 0 0;
		i {
			color: #777777;
			margin-right: 8px;
		}
		&:hover, &:focus, &:active {
			color: $link-hover-color;
			@include box-shadow(none);
		}
	}
	@media (max-width: $screen-ms-max) {
		text-align: center;
		.button-medium {float: none; 		margin-bottom: 10px;}
		> span {
			display: block;
			width: 100%;
			padding-bottom: 15px;
		}
		.button-exclusive { display: block;}
	}
}

// step 1 - cart
.cart_last_product {
	display: none;
}

.cart_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px;
}

.cart_gift_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px;
}

.table {
	tbody > tr > td {
		vertical-align: middle;
		&.cart_quantity {
			padding: 41px 14px 25px;
			width: 88px;
			.cart_quantity_button {
				margin-top: 3px;
				a {
					float: left;
					margin-right: 3px;
					&+ a {
						margin-right: 0;
					}
				}
			}
		}
		&.cart_delete,
		&.price_discount_del {
			padding: 5px;
		}
	}
	tfoot > tr > td {
		vertical-align: middle;
	}
}

.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	font-size: 18px;
	.icon-trash{
		&:before{content: "\F00D";}
	}
	&:hover {
		color: silver;
	}
}

#cart_summary {
	tbody {
		td {
			&.cart_product {
				padding: 19px;
				width: 137px;
				img {}
			}
			&.cart_unit {
				.price {
					span {
						display: block;
						&.price-percent-reduction {
							margin: 5px auto;
							display: inline-block;
						}
						&.old-price {
							text-decoration: line-through;
						}
					}
				}
			}
			&.cart_description {
				width: 480px;
				small {
					display: block;
					padding: 5px 0 0 0;
				}
			}
			&.cart_avail {}
		}
	}
	tfoot {
		td {
			&.text-right {

		
			}
			&.price {
				
			}
			&.total_price_container {
				span {
					font-weight: bold;
					font-size: 14px;
				}
			}
			&#total_price_container {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

@media (max-width: $screen-ms-max) {
	#order-detail-content {
		overflow-x: auto;
		#cart_summary {
			table, thead, tbody, th, td, tr {
				display: block;
			}
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tr {
				border-bottom: 1px solid #cccccc;
				overflow: hidden;
				position: relative;
			}
			td {
				border: none;
				position: relative;
				border-bottom: 1px dotted $base-border-color;
				width: 100%;
				float: none;
				white-space: normal;
				text-align: center;
				&.cart_description {}
				&.cart_product{}
				&.cart_avail {
					clear: both;
				}
				&.cart_unit {
					> ul{margin: 0px;}
				}
				&.cart_quantity {
					clear: both;
					padding: 10px 12px 10px 12px;
						.cart_quantity_input{
							display: block;
							margin: 0 auto;
						}
					 .cart_quantity_button{
						display: inline-block;
						text-align: center;
					}
				}
				&.cart_discount_price{
					&:before{
					content: attr(data-title);
    				display: block;
					}
					&.text-right{display: none;}						
				}
				&.cart_discount_delete, &.cart_discount_name{
					display: none;
				}
				&.cart_total {font-weight: bold;}
				&.cart_delete, &.price_discount_del {
					position: absolute;
					top: 0px;
   					width: 30px;
					right: 5px;
					border: none;
				}

				div {
					display: inline;
				}
				.price{}
			}
			td:before {
	
			}
			tfoot {
				td {
					float: none;
					width: 100%;
					border-bottom: none;
					text-align: center;
					&:before {
						display: inline;
					}
					&.cart_voucher{
						text-align: center;
					}
				}
				tr {
					.text-right, .price {
						display: block;
						float: left;
						width: 50%;
					}
				}
			}
		}
	}
}


.cart_voucher {
	vertical-align: top !important;
	.title-offers {
		font-weight: bold;
		margin-bottom: 6px;
	}
	fieldset {
		margin-bottom: 10px;
		#discount_name {
			float: left;
			width: 219px;
			margin-right: 11px;
			@media (max-width: $screen-ms-max) {
				width: 170px;
				float: none;
   				display: inline-block;
			}
		}
	}
	#display_cart_vouchers {
		span {
			font-weight: bold;
			cursor: pointer;
			color: $link-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

.enable-multishipping {
	margin: -13px 0 17px;
	label {
		font-weight: normal;
	}
}

#HOOK_SHOPPING_CART {
	#loyalty {
		i {
			font-size: 26px;
			line-height: 26px;
			color: #cfcccc;
		}
	}
}

#order_carrier {
	clear: both;
	margin-top: 20px;
	border: 1px solid #999999;
	background: $light-background;
}
.order_carrier_logo {
  max-width: 65px;
  max-height: 65px;
}
#order_carrier .title_block {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#order_carrier span {
	display: block;
	padding: 15px;
	font-weight: bold;
}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088cc;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

// step 3 - address
#multishipping_mode_box {
	padding-top: 12px;
	padding-bottom: 19px;
	.title {
		font-weight: bold;
		color: $base-text-color;
		margin-bottom: 15px;
	}
	.description_off {
		display: none;
		div {
			margin-bottom: 10px;
		}
	}
	.description_off a:hover,
	.description a:hover {
		background: #f3f3f3;
		border: 1px solid #cccccc;
	}
}

#multishipping_mode_box.on .description_off {
	display: block;
}

.multishipping-cart {
	.cart_address_delivery {
		&.form-control {
			width: 198px;
		}
	}
}

#order .address_add.submit {
	margin-bottom: 20px;
}

#ordermsg {
	margin-bottom: 30px;
}

#id_address_invoice.form-control,
#id_address_delivery.form-control {
	width: 269px;
}

.addresses {
	.select label,
	.selector,
	.addresses .address_select {
		clear: both;
		float: left;
	}
	.waitimage {
		display: none;
		float: left;
		width: 24px;
		height: 24px;
		background-image: url("../../../img/ajax-loader.gif");
		background-repeat: no-repeat;
		position: relative;
		bottom: -2px;
		left: 10px;
	}
	.checkbox.addressesAreEquals {
		clear: both;
		float: left;
		margin: 15px 0 25px 0;
	}
}

// step 4 - paiement
#order .delivery_option,
#order-opc .delivery_option {
	> div {
		display: block;
		margin-bottom: 20px;
		font-weight: normal;
		> table {
			margin-bottom: 0;
			&.resume {
				height: 53px;
				&.delivery_option_carrier {
					margin-top: 10px;
					width: 100%;
					background: $state-info-bg;
					color: $state-info-text;
					border: 1px solid $state-info-border;
					font-weight: bold;
					td {
						padding: 8px 11px 7px 11px;
						i {
							font-size: 20px;
							margin-right: 7px;
							vertical-align: -2px;
						}
					}
				}
				td {
					&.delivery_option_radio {
						width: 54px;
						padding-left: 0;
						padding-right: 0;
						text-align: center;
					}
					&.delivery_option_logo {
						width: 97px;
						padding-left: 21px;
					}
					&.delivery_option_price {
						width: 162px;
					}
				}
			}
		}
	}
}

.order_carrier_content {
	line-height: normal;
	padding-bottom: 16px;
	.carrier_title {
		font-weight: bold;
	}
	.checkbox {
		input {
			margin-top: 2px;
		}
	}
	.delivery_options_address {
		.carrier_title {
			margin-bottom: 17px;
		}
	}
	& + div {
		padding-bottom: 15px;
	}
	h2{
		font-size: inherit;
    font-weight: bold;
	}
	.box{
		margin-bottom: 10px;
	}
}

#carrierTable {
	border: 1px solid #999999;
	border-bottom: none;
	background: $light-background;
}

#carrierTable tbody {
	border-bottom: 1px solid #999999;
}

#carrierTable th {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#carrierTable td {
	padding: 15px;
	font-weight: bold;
	border-right: 1px solid #e9e9e9;
}

#carrierTable td.carrier_price {
	border: none;
}

p.checkbox.gift {
	margin-bottom: 10px;
}

#gift_div {
	display: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

a.iframe {
	color: $base-text-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

//step 5 - paiement
#HOOK_PAYMENT .row > div{width: 100%; float: none;}
p.payment_module {
	margin-bottom: 10px;
	a {
		display: block;
		border: 1px solid $table-border-color;
		@include border-radius(4px);
		font-size: 17px;
		line-height: 23px;
		color: $base-text-color;
		font-weight: bold;
		padding: 33px 40px 34px 99px;
		letter-spacing: -1px;
		position: relative;
		&.bankwire {
			background: url(../img/bankwire.png) 15px 12px no-repeat $base-box-bg;
		}
		&.cheque {
			background: url(../img/cheque.png) 15px 15px no-repeat $base-box-bg;
		}
		&.cash {
			background: url(../img/cash.png) 15px 15px no-repeat $base-box-bg;
		}
		&.cheque, &.bankwire, &.cash {
			&:after {
				display: block;
				content: "\f054";
				position: absolute;
				right: 15px;
				margin-top: -11px;
				top: 50%;
				font-family: $font-icon;
				font-size: 25px;
				height: 22px;
				width: 14px;
				color: $link-color;
			}
		}
		&:hover {
			background-color: #f6f6f6;
		}
		span {
			font-weight: bold;
			color: $base-body-color;
		}
	}
}

.payment_module.box {
	margin-top: 20px;
}

p.cheque-indent {
	margin-bottom: 9px;
}

.cheque-box {
	.form-group {
		margin-bottom: 0px;
		.form-control {
			width: 269px;
		}
	}
}

.order-confirmation.box {
	line-height: 29px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

//PAGE ORDER-OPC
.delivery_option_carrier td {
	width: 200px;
}

.delivery_option_carrier td + td {
	width: 280px;
}

.delivery_option_carrier td + td + td {
	width: 200px;
}

.delivery_option_carrier tr td {
	padding: 5px;
}

.delivery_option_carrier.selected {
	display: table;
}

.delivery_option_carrier.not-displayable {
	display: none;
}

//PAGES ADRESSES, IDENTITY
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
	.box {}
	line-height: 20px;
	p.required {
		color: #f13340;
		margin: 9px 0 16px 0;
		margin-bottom: 0px;
	}
	p.inline-infos {
		color: red;
	}
	.form-group {
		margin-bottom: 4px;
		.form-control {
			max-width: 271px;
			&#adress_alias {
				margin-bottom: 20px;
			}
		}
		&.phone-number {
			// min 1200px
			@media (min-width: $screen-lg) {
				float: left;
				width: 270px;
				margin-right: 13px;
			}
			+ p {
				@media (min-width: $screen-lg) {
					padding: 23px 0 0 0px;
					margin-bottom: 0;
				}
			}
		}
	}
	.gender-line {
		margin-bottom: 4px;
		padding-top: 4px;
		> label {
			margin-right: 10px;
			margin-bottom: 0;
		}
		.radio-inline {
			label {
				font-weight: normal;
				color: #777777;
			}
		}
	}
	.submit2{
		margin-top: 10px;
	}
}

#identity,
#authentication,
#order-opc {
	#center_column {
		form.std {
			.row {
				margin-left: -5px;
				margin-right: -5px;
				.col-xs-4 {
					padding-left: 5px;
					padding-right: 5px;
					max-width: 94px;
					.form-control {
						max-width: 84px;
					}
				}
			}
		}
		.footer_links {
			border: none;
			padding-top: 0;
		}
	}
}

#new_account_form .box {
	line-height: 20px;
	.date-select {
		padding-bottom: 10px;
	}
	.top-indent {
		padding-top: 10px;
	}
	.customerprivacy {
		padding-top: 15px;
	}
}

// PASSWORD
#password {
	.box {
		p {
			margin-bottom: 9px;
		}
		.form-group {
			margin-bottom: 20px;
			.form-control {
				width: 263px;
			}
		}
	}
	.footer_links {}
	padding-top: 0;
	border: none;
}

//PAGE SEARCH
#instant_search_results {
	a.close {
		font-size: 13px;
		opacity: 1;
		line-height: inherit;
		color: $base-body-color;
		text-transform: none;
		&:hover {
			color: $link-hover-color;
		}
	}
}

// MANUFACTURERS/SUPPLIERS
#manufacturers_list,
#suppliers_list {
	h3 {
		font-size: 17px;
		line-height: 23px;
	}
	.description {
		line-height: 18px;
	}
	.product-counter {
		a {
			&:hover {
				color: $link-hover-color;
			}
		}
	}
	&.list {
		li {
			.mansup-container {
				border-top: 1px solid $base-border-color;
				padding: 20px 0;
				// < 768
				@media (max-width: $screen-ms-max) {
					text-align: center;
				}
			}
			&:first-child {
				.mansup-container {
					border-top: 0;
					padding-top: 0px;
				}
			}
			&:last-child {
				.mansup-container {
					padding-bottom: 0px;
				}
			}
			.left-side {
				text-align: center;
			}
			h3 {
				padding-bottom: 8px;
			}
			.middle-side {
				padding-left: 0;
				// < 768
				@media (max-width: $screen-ms-max) {
					padding-right: 15px;
					padding-left: 15px;
				}
			}
			.right-side-content {
				border-left: 1px solid $base-border-color;
				min-height: 108px;
				padding-left: 15px;
				// < 768
				@media (max-width: $screen-ms-max) {
					min-height: 1px;
					padding: 0;
					border: none;
				}
				.product-counter {
					position: relative;
					margin-bottom: 12px;
					// < 768
					@media (max-width: $screen-ms-max) {
						top: 0;
					}
				}
			}
		}
	}
	&.grid {
		li {
			text-align: center;
			.product-container {
				padding-top: 40px;
				padding-bottom: 20px;
				border-bottom: 1px solid $base-border-color;
				.left-side {
					padding-bottom: 42px;
				}
				h3 {
					padding-bottom: 10px;
				}
				.product-counter {
					margin-bottom: 12px;
				}
			}
		}
		// > 1199
		@media (min-width: $screen-lg) {
			li.first-in-line {
				clear: left;
			}
			li.last-line {
				.product-container {
					border-bottom: none;
				}
			}
		}
		//768 -> 1199
		@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
			li.first-item-of-tablet-line {
				clear: left;
			}
			li.last-tablet-line {
				.product-container {
					border-bottom: none;
				}
			}
		}
		// < 768
		@media (max-width: $screen-ms-max) {
			li.item-last {}
			.product-container {
				border-bottom: none;
			}
		}
	}
}

#manufacturer,
#supplier {
	.description_box {
		border: $main_border; padding: 15px;
		margin-bottom: 20px;
	@media  (max-width: $screen-sm-max) { // max 1199px
		padding: 10px;
	}
		.hide_desc {
			display: none;
		}
	}
}

//DISCOUNT PAGE
table.discount {
	i {
		font-size: 20px;
		line-height: 20px;
		vertical-align: -2px;
		&.icon-ok {
			color: #46a74e;
		}
		&.icon-remove {
			color: #f13340;
		}
	}
}

//GUEST TRACKING
#guestTracking {
	.form-control {
		max-width: 271px;
	}
	// > 1200px
	@media (min-width: $screen-lg) {
		.form-group {
			overflow: hidden;
			i {
				padding-left: 10px;
			}
		}
		.form-control {
			float: left;
		}
		label {
			float: left;
			clear: both;
			width: 100%;
		}
	}
}

//PAGE 404
#pagenotfound {
	.pagenotfound {
		max-width: 824px;
		margin: 0 auto;
		text-align: center;
		.img-404 {
			font-size: 210px;
			line-height: 210px;
				@media (max-width: $screen-ms-max) {
					font-size: 140px;
					line-height: 140px;
				}
			img {
				max-width: 100%;
			}
		}
		h1 {
			font-weight: bold;
			font-size: 18px;
			line-height: 34px;
			color: $base-text-color;
			text-transform: uppercase;
			margin-bottom: 7px;
		}
		p {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			color: #555454;
			text-transform: uppercase;
			border-bottom: 1px solid $base-border-color;
			padding-bottom: 19px;
			margin-bottom: 20px;
		}
		h3 {
			font-weight: bold;
			color: $base-text-color;
			font-size: 13px;
			line-height: normal;
			margin-bottom: 18px;
		}
		label {
			font-weight: normal;
			@media (max-width: $screen-ms-max) {
				display: block;
			}
		}
		.form-control {
			max-width: 293px;
			display: inline-block;
			margin-right: 5px;
			// max 767px
			@media (max-width: $screen-ms-max) {
				margin: 0 auto 15px auto;
				display: block;
			}
		}
		.buttons {
			padding: 48px 0 20px 0;
			.button-medium {
				i.left {
					font-size: 17px;
				}
			}
		}
	}
}

//addon RerversoForm
#account-creation_form fieldset.reversoform {
	padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
	display: block;
	padding: 0 0 10px 0;
	width: 100%;
	text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
	padding: 0 !important;
	font-size: 10px;
	font-style: italic;
	text-align: right;
}

//addon customer privacy
#account-creation_form fieldset.customerprivacy label,
fieldset.customerprivacy label {
	cursor: pointer;
}

//addon referralprogram
.tab-content {
	margin-top: 20px;
}

//addons comments products
form#sendComment fieldset {
	padding: 10px;
	border: 1px solid #cccccc;
	background: #eeeeee;
}

form#sendComment h3 {
	font-size: 14px;
}

#new_comment_form p.text {
	margin-bottom: 0;
	padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}

#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #cccccc;
	background: url(../img/bg_input.png) repeat-x 0 0 $light-background;
}

#sendComment p.textarea textarea {
	height: 80px;
	width: 508px;
	border: 1px solid #cccccc;
}

#sendComment p.submit {
	padding: 0;
	text-align: right;
}

#sendComment p.closeform {
	float: right;
	padding: 0;
	height: 12px;
	width: 12px;
	text-indent: -5000px;
	background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
	position: relative;
	top: -1px;
	float: left;
	width: 12px;
	overflow: hidden;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
}

.star {
	display: block;
	a {
		display: block;
		position: absolute;
		text-indent: -5000px;
	}
}

div.star {
	opacity: 0.35;
	&:after {
		content: "\f006";
		font-family: $font-icon;
		display: inline-block;
		color: $base-border-color;
	}
}

div.star.star_on {
	display: block;
	opacity: 1;
	&:after {
		content: "\f005";
		font-family: $font-icon;
		display: inline-block;
		color: $product-price-color;
	}
}

div.star.star_hover {
	opacity: 1;
	&:after {
		content: "\f005";
		font-family: $font-icon;
		display: inline-block;
		color: $product-price-color;
	}
}

//CSS Modules
//IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.

//Block ADVERTISING
.advertising_block {
	width: 191px;
	margin-bottom: 1em;
	text-align: center;
}

//footer
.blockcategories_footer ul ul {
	display: none !important;
}

//Form validate
.form-group {
	&.form-error {
		input, textarea {
			border: 1px solid #f13340;
			color: #f13340;
			background: url(../img/icon/form-error.png) 98% 5px no-repeat #fff1f2;
		}
	}
	&.form-ok {
		input, textarea {
			border: 1px solid #46a74e;
			color: #35b33f;
			background: url(../img/icon/form-ok.png) 98% 5px no-repeat #ddf9e1;
		}
	}
	&.form-error, &.form-ok {
		.form-control {
			padding-right: 30px;
		}
	}
}

//uniform
.radio-inline, .checkbox {
	padding-left: 0;
	.checker {
		float: left;
		span {
			top: 0px;
		}
	}
	div.radio {
		display: inline-block;
		span {
			float: left;
			top: 0px;
		}
	}
}

.fancybox-skin {
	background: $light-background !important;
		@include box-shadow(0 2px 10px rgba(0,0,0, 0.15)!important);
}
.fancybox-overlay{
	background: url('../img/fancybox_overlay.png')!important;
}

body .fancybox-skin {
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
.fancybox-close {
	font-size: 14px;
    background: black;
    right: 0px;
    top: -24px;
    line-height: 22px;
    color: #fff;
	width: 24px;
	height: 24px;
	text-align: center;
	&:hover {
		color: $link-hover-color;
	}
	&:after {
		content: "\f00d";
		font-family: $font-icon;
	}
}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select.form-control{

	  -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
    
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

            background-image: url(../img/icon/form-select.png); 
			background-position: right 8px top 9px;
			background-repeat: no-repeat;
			padding-right: 30px;

}


//Homepage pre-footer
#facebook_block,
#cmsinfo_block {
	overflow: hidden;
	background: $homepage-footer-bg;
	min-height: 344px;
	padding-right: 29px;
	padding-left: 29px;
	// max 991px
	@media (max-width: $screen-sm-max) {
		min-height: 348px;
		padding-left: 13px;
		padding-right: 13px;
	}
	// max 767px
	@media (max-width: $screen-ms-max) {
		width: 100%;
		min-height: 1px;
	}
}

#facebook_block {
	h4 {
		padding: 35px 0 0 0;
		margin: 0 0 12px 0;
			font-size: 21px;
		line-height: 35px;
		color: lighten($base-heading-color, 10%);
		// max 991px
		@media (max-width: $screen-sm-max) {
			font-size: 18px;
		}
		// max 767px
		@media (max-width: $screen-ms-max) {
			padding-top: 20px !important;
		}
		// 768px
		@media (max-width: $screen-sm) {
			font-size: 16px;
		}
	}
	.facebook-fanbox {
		background: $light-background;
		border: 1px solid #aaaaaa;
		padding-bottom: 10px;
	}
}

#cmsinfo_block {
	// max 767px
	@media (max-width: $screen-ms-max) {
		border: none;
		margin-top: 10px;
	}
	> div {
		padding: 35px 10px 0 0;
		// max 767px
		@media (max-width: $screen-ms-max) {
			padding-top: 20px;
		}
		// max 479px
		@media (max-width: $screen-ms - 1) {
			width: 100%;
			border-top: 1px solid $homepage-footer-border;
		}
	}
	> div + div {
		border-left: 1px solid $homepage-footer-border;
		min-height: 344px;
		padding-left: 29px;
		// max 479px
		@media (max-width: $screen-ms - 1) {
			border-left: none;
			padding-left: 10px;
			min-height: 1px;
			padding-bottom: 15px;
		}
	}
	em {
		float: left;
		width: 60px;
		height: 60px;
		margin: 3px 10px 0 0;
		font-size: 30px;
		color: $light-text-color;
		line-height: 60px;
		text-align: center;
		background: lighten($base-heading-color, 10%);
		@include border-radius(100px);
		// max 991px
		@media (max-width: $screen-sm-max) {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 20px;
		}
	}
	.type-text {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px 0;
			font-size: 21px;
		line-height: 25px;
		color: lighten($base-heading-color, 10%);
		// max 1199px
		@media (max-width: $screen-md-max) {
			font-size: 18px;
		}
	}
	ul {
		li {
			padding-bottom: 22px;
			// max 1199px
			@media (max-width: $screen-md-max) {
				padding-bottom: 10px;
			}
			// max 991px
			@media (max-width: $screen-sm-max) {
				padding-bottom: 0;
			}
		}
	}
	p {
		em {
			background: none;
			@include border-radius(0);
			margin: 0;
			font-size: 13px;
			color: $text-color;
			float: none;
			height: inherit;
			line-height: inherit;
			text-align: left;
			font-style: italic;
		}
	}
}

.ie8 {
	#facebook_block,
	#cmsinfo_block {
		height: 344px;
	}
}

//Zoom
// max 1199px
@media (max-width: $screen-md-max) {
	.zoomdiv {
		display: none !important;
	}
}

//temporary fix for quickview
#product.content_only {
	div.pb-left-column {
		p.resetimg {
			margin-bottom: 0px;
			padding-top: 0px;
		}
		#thumbs_list_frame {
			margin-bottom: 0px;
		}
	}
}

//Product Compare
#product_comparison {
	#social-share-compare {
		margin-bottom: 50px;
	}
}

//Social Sharing
.btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
	&:hover {
		border-color: white;
	}
}

.btn-facebook {
	i {
		color: #435f9f;
	}
	&:hover {
		color: white;
		background-color: #435f9f;
		i {
			color: white;
		}
	}
}

.btn-twitter {
	i {
		color: #00aaf0;
	}
	&:hover {
		color: white;
		background-color: #00aaf0;
		i {
			color: white;
		}
	}
}

.btn-google-plus {
	i {
		color: #e04b34;
	}
	&:hover {
		color: white;
		background-color: #e04b34;
		i {
			color: white;
		}
	}
}

.btn-pinterest {
	i {
		color: #ce1f21;
	}
	&:hover {
		color: white;
		background-color: #ce1f21;
		i {
			color: white;
		}
	}
}


/*******************************************************************
					Warehouse theme globals
********************************************************************/

//structure
html{
	-ms-overflow-style: scrollbar;
}

// Carousel style
.flexslider_carousel_block, .iqitcontent-column-inner {
	margin-bottom: 0px;
	padding-bottom: 0px;
	.tab-content{
		margin-top: 0px !important;
		.tab-pane{
		display: block;     
    	height: 0;          
    	opacity: 0;
    	visibility: hidden;
    	overflow: hidden;
    	.iqitcontent-column{
    		height: 0px;
    	}
    	&.active{
    		height: auto;
    		opacity: 1;
    		visibility: visible;
    		position: static;
    		overflow: visible;
    		.iqitcontent-column{
    			height: auto;
    		}
    	}
    	}
	}
}
.slick_carousel {
	padding: 0px; position: relative;
	margin-top: -10px;
	.ajax_block_product{text-align: center; padding:  0px 9px;  position: relative; margin: 0px;
		padding-top: 9px;
		padding-bottom: 9px;
	@media (max-width: $screen-xs-max) { 
		padding-left:  10px;
		padding-right:  10px;
	}}
	.loading {min-height: 300px; background: url('../img/ajax-loader.gif') no-repeat center center; text-indent: -9999px;
	z-index: 0;
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	}
	.viewport{
		padding: 11px 5px;
	}

}


.pl-quantity-input-wrapper{
  display: inline-block;
  width: 40px;
  top: 1px;
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  @media (max-width: $screen-sm-max) { 
  	display: none;
  }
}
.product_list.grid{
 .button-container{
 	white-space: nowrap;
    overflow: hidden; 
 }

}

.quantity-input-b-wrapper .pl_product_quantity_up{
  position: absolute;
  top: 0px;
  right: 5px;
}

.quantity-input-b-wrapper .pl_product_quantity_down{
  position: absolute;
  top: 10px;
  right: 5px;
}



// Global product list style(sliders, carousel, list, grid)
.product-image-container{
	margin-bottom: 5px;
	position: relative;
	.img_1, .img_0{margin: 0 auto; @include transition(visibility 200ms ease-in-out, opacity 200ms ease-in-out);}
	.img_1{
		visibility: hidden;
		opacity: 0!important;
 		position: absolute;
 		top: 0; left: 0;  right: 0;
 		height: 100%;
	}
}

.product-name-container {overflow: hidden;  margin: 0px; height: 22px;}

.star_content{
width: 65px;
margin: 0 auto;
padding-bottom: 4px;
}
.content_price {
padding: 4px 0px;
}

ul.product_list.grid .content_price{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.slick_carousel  {
	.ajax_block_product, .iqitmanufacuter-logo{
		opacity: 0;
		visibility: hidden;
	}
}

.slick-initialized {
		.ajax_block_product, .iqitmanufacuter-logo{  opacity: 1;
  visibility: visible;}
}

ul.product_list.grid, .slick_carousel  {
	.ajax_block_product{
		-webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;

		.color-list-container {
		z-index: 2;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 28px;
		margin: 0px;
		bottom: 30px;
		max-height:100%;
		height:auto !important;
		height:100%;
		overflow:hidden;
		display: none;
		ul {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;  
			-webkit-box-orient: vertical;  
			-webkit-box-direction: normal;  
			-webkit-flex-direction: column;  
			-ms-flex-direction: column;  
			flex-direction: column;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			height: 100%;
			direction: rtl;
			padding-top: 32px;
			li {
				padding: 0px;
				margin: 0px;
				display: inline-block;
				width: 14px;
				height: 14px;
				margin-bottom: 1px;
				border: 1px solid $base-border-color;
				a {
					width: 12px;
					display: block;
					padding: 0px;
					margin: 0px;
					height: 12px;
				}	
			}
		}
	}
}
}
ul.product_list, .slick_carousel {
	.availability {
		span {
			display: inline-block;
			color: $light-text-color;
			font-size: 9px;
			line-height: 12px;
			padding: 4px 5px 2px;
			text-transform: uppercase;
			text-align: center;
			@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
			margin-bottom: 10px;
			&.available-now {
				background: #46a74e;
			}
			&.out-of-stock{
				background: #ff7430;
			}
		}
	}
}
.sale-label, .price-percent-reduction, #reduction_percent, #reduction_amount, #availability_value, #last_quantities{@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));}
.slick_carousel, ul.product_list.grid{
	 .available-sizes{
	 	@media (max-width: $screen-ms-max) {
display: none;
}
	 }
	.functional-buttons{
	line-height: 10px;
	text-align: center;
	-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
@media (max-width: $screen-ms-max) {
display: none;
}

*{	-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;}
}

}
.availability-slidein{
position: absolute;
bottom: 0px;
left: 0px;
width: 100%;
z-index:1;
visibility: visible;
opacity: 1;
@include transition(all 0.2s ease);

.availabile_product{
	display: none !important;
}

}

.functional-buttons {
		z-index:2;
		font-size: 0px;
		border-bottom: 1px solid $base-border-color;
		border-top: 1px solid $base-border-color;
		position: absolute;
		bottom: 0px;
		background: $light-background;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		-webkit-backface-visibility: hidden;
 		-moz-backface-visibility:    hidden;
  		-ms-backface-visibility:     hidden;
     	backface-visibility:     hidden;
     	margin-bottom: -15px;
		@include transition(all 0.2s ease);
		> div{
			width: auto;
padding: 0 10px;
display: inline-block;
float: none;
		}
		div {
			height: 23px;
			line-height: 19px;
			padding-top: 4px;
			a, label {
				color: #777676;
				cursor: pointer;
				 font-size:0;
				&:hover { 
					color: #000;
				}	
				&:before{font-size: 15px;}
			}

			&.quickview { 
				border-right: 1px solid $base-border-color;
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f00e";
					font-size: 15px;
					margin-right: 4px;
				}
			}
			&.wishlist { 
				border-right: 1px solid $base-border-color;
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f08a";
				}
				a.checked:before {
					content: "\f004";  
				}
			}
			&.compare {
				a {
					&:before {
						content: "\f074";
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						}
					&.checked {
						&:before {
							content: "\f068";
						}
					}	
				}
			}
			&:last-child{ border-right: none !important;}
		}
	}
	.ajax_block_product .hovered, .ajax_block_product:hover {
		.product-image-container{
			.img_1{
				visibility: visible;
				opacity: 1 !important;
			}
		}
		.availability-slidein{
			bottom: -10px;
			visibility: hidden;
			opacity: 0;
		}
		.functional-buttons-grid{
			visibility: visible;
			opacity: 0.9;
			margin-bottom: 0px;
				&:hover{
					opacity: 1.0;
		}
		}
	}

	.ajax_block_product{
				&:hover{
						.functional-buttons-grid{
			visibility: visible;
			opacity: 0.9;
			margin-bottom: 0px;
				&:hover{
					opacity: 1.0;
		}
		}	
		}
	}

.online-label, .new-label, .sale-label{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}	

// Transitions

.transition-300 {
	@include transition(all 0.2s ease);
}
.transition-opacity-300 {
	@include transition(opacity 0.2s ease);
}

.nb-comments{
	display: none;
}
.productlistRating{ .star{cursor: default; vertical-align: middle;} .nb-comments{display: inline; vertical-align: middle; } }



//Typo
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight: 400;
line-height: 1.1;
font-family: inherit;
text-transform: uppercase;
}


// Various
@media (min-width: $screen-lg) {
	#left_column, #right_column{width:20%;}


	.show-left-column {
		#left_column {
			&.col-sm-pull-9{right: 80%;}
			&.col-sm-pull-6{right: 60%;}
		}
		#center_column{width:80%;
			&.col-sm-push-3{left: 20%;}
		}
	}
	.show-right-column #center_column{width:80%;}
	.show-left-column.show-right-column #center_column{width:60%;}
.is_rtl{
&.show-left-column {
		#left_column {
			&.col-sm-pull-9{left: 80%; right: auto;}
			&.col-sm-pull-6{left: 60%; right: auto;}
		}
		#center_column{
			&.col-sm-push-3{right: 20%; left: auto;}
		}
	}
}
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="text"], input[type="password"] {
-webkit-appearance: none;
border-radius: 0;
}
.ui-slider .ui-slider-handle{
width: 11px !important;
height: 11px !important;
}
.ui-slider .ui-slider-range{
background: $base-border-color !important;

}
.ui-slider{
height: 5px !important;
border-color: $base-border-color !important;
}


.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
border-color: $base-border-color;
	}
.product-container .bottomLine{
    background-image: none !important;
background-repeat: no-repeat!important;
visibility: visible!important;
display: block !important;
width: 75px !important;
height: 22px;
margin: 0px auto !important;
.number_results, .text, .text-m{display: none!important;}
.yotpo-bottomline{float: none !important;
text-align: center !important;}
  }
.yotpo .yotpo-bottomline .icon-star, .yotpo .yotpo-bottomline .icon-half-star, .yotpo .yotpo-bottomline .icon-empty-star, 
.yotpo-stars .icon-star, .yotpo-stars .icon-empty-star, .yotpo-stars .yotpo-icon-star, .yotpo-stars .yotpo-icon-empty-star, .yotpo-stars .yotpo-icon-half-star,  .yotpo-stars .icon-half-star
{ font-size: 15px !important; margin: 0px !important;}  
.v-center-parent{display:table; table-layout:fixed;}
.v-center-child {display:table-cell; vertical-align:middle; text-align:center;}

.eqcol{
	display: table;
	table-layout:fixed;

	[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
}
a:focus{outline: none !important;}
label{font-weight: normal;}
@media (max-width: $screen-md-max) {
.videoWrapper { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; 
	 iframe, object,  embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	} 
}

.circle-icon{ display: inline-block; font-family: $font-icon; 
	width: 32px;
	height: 32px;
	font-size: 16px;
	color: $light-text-color!important;
	line-height: 33px;
	text-align: center;
	background: #99999b;
	margin-right: 5px;
	@include border-radius(50px);
	outline: none !important; 
	@include transition(all 0.2s ease);
	&:hover{text-decoration: none;
		background: $link-hover-color;} 
} 
.info-paragraph-icon{
	&:hover{
		.circle-icon{background: $link-hover-color;}
	}
}

.btn{
	text-transform: uppercase;
	font-size: inherit;
	line-height: inherit;
	outline: none !important;
	@include transition(color 0.2s ease, background  0.2s ease);
	@include border-radius(3px);	
}
@media (max-width: $screen-xs-max) {
.nav-tabs > li{float: none;}	
}
.nav-tabs > li > a{
	font-size: 12px;
	line-height: 16px;
	@include transition(background-color 0.2s ease);
	text-transform: uppercase;
}
.nav-tabs > li > a:hover{
	background-color: #FAFAFA;
}
.tab-content{margin-top: 0px;}
.tab-content > .page-product-box.tab-pane{
	border: $main_border;
	border-top: none;
}
#page .tab-pane .rte{padding: 0px 0px 20px 0;}

a, .bt_compare, #slidetopcontentShower, .bt_compare, #languages-block-top div.current, #currencies-block-top div.current{@include transition(color 0.2s ease);}
div.selector{font-size: inherit !important;}
.btn-default{
	background-color: transparent;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
}

.circle{
width: 85px;
height: 85px;
display: block;
text-align: center;
border-radius: 50%;
background-color: #f2f2f2;
text-align: center;
		@include transition(all 0.2s ease);
z-index: 5;
position: relative;
i{
font-size: 26px;
line-height: 85px;
}
&:hover{
	background-color: #777777;
		color: #f2f2f2;
}
}

.gm-style .gm-style-iw{
	color: #777777 !important;
}


//slick carousel style

.slick-slider
{
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 11px 5px;
    margin-left: -9px;
  margin-right: -9px;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    text-indent: -6px;
  	width: 36px; 
    height: 70px;
    margin-top: -35px;
    padding: 0;
    cursor: pointer;
    opacity: 0.8;
    z-index: 2;
    border: none;
    outline: none;
    @include transition(all 0.2s ease);

}
.slick-prev:hover,
.slick-next:hover{
	 opacity: 1;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{	
	cursor: default;
    opacity: .25;
}
.slick-prev:before,
.slick-next:before
{
    font-family: $font-warehouse;
    font-size: 48px; 
    line-height: 48px; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -8px;
}
.is_rtl .slick-prev
{
    right: -8px;
    left: auto;
}
.slick-prev:before
{
    content: "\e600";
}
.is_rtl .slick-prev:before
{
    content: "\e601";
}

.slick-next
{
    right: -8px;
}
.is_rtl .slick-next
{
    right: auto;
    left: -8px;
}
.slick-next:before
{
    content: "\e601";
}
.is_rtl .slick-next:before
{
    content: "\e600";
}

/* Dots */
.slick-dots
{
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
  	bottom: -14px;
  	@media (max-width: $screen-xs-max) {
  		position: static;
  	}
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 0px;
    @include border-radius(20px);
    width: 8px;
    @include transition(background-color 0.2s ease);
  	height: 8px;
  	background-color: #eee;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
     opacity: .5;
     background-color: black;
}
.slick-dots li.slick-active button
{
    opacity: 1;
    background-color: black;
}

.product_list_small {
	margin-left: 0px;
	margin-right: 0px;
	.left-block{
		width: 35%;
		float: left;
  		text-align: left;
	}
	.right-block{
		width: 65%;
		float: left;
  		text-align: left;
  		padding: 5px 0px 5px 10px;
	}
	.functional-buttons{
		border: none;
		background: none;
		text-align: right;
		div{
			padding: 0 4px;
		}
	}
	.product-image-container{
		margin-bottom: 0px;
	}
	.ajax_block_product{
		padding: 9px;
	}
	.star_content{
		margin: 0px;
		padding-top: 4px;
		padding-bottom: 0px;
	}
}
.ajax_block_product{
	@include transition(color 0.2s ease, background 0.2s ease);
	.product-container{
		@include transition(color 0.2s ease, background 0.2s ease);
	}
.star{
	cursor: default;
}
}
.hide-slick-arrows{
	.slick-prev,
	.slick-next
	{
		display: none !important;
	}
}

.alternative-slick-arrows{

.slick-prev,
.slick-next
{
		width: 25px;
		height: 25px;
		top: 4px;
		text-indent: 0px;
		font-size: 0px;
		line-height: 0px;
		text-align: center;
		&:before{
		font-size: 20px;
		line-height: 25px;
		}
}
.slick-prev{
	left: auto;
	right: 30px;
	&:before { content: "\F104"; font-family: $font-icon;}
}
.slick-next{
	right: 0px;
	&:before{ content: "\F105"; font-family: $font-icon;}
}

}

.is_rtl {
	.alternative-slick-arrows{
		.slick-prev{ right: auto; left: 30px;  &:before{ content: "\F105";}}
		.slick-next { right: auto; left: 0px;
		&:before{ content: "\F104";} }
	}
}
.quickview-full-btn{
	right: 0px;
	z-index: 4;
	bottom: 0px;
	position: absolute !important;
	@include border-radius(0);
}

.lazy{
		background-image: url("../img/ajax-loader.gif");
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 60px;
		text-indent: -999px;
}
@media (min-width: $screen-md) {
#header.sticky-header{
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  left: 0;
  -webkit-backface-visibility: hidden;
   padding: 5px 0;
     -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-animation: slidedown 0.3s forwards;
        animation: slidedown 0.3s forwards;
  .container-header{
  	background: none !important;
  }

  .nav{
  	opacity: 0;
  	padding: 0px;
  	visibility: hidden;
	height: 0px!important;
	min-height: 0px!important;
	overflow: hidden;
  }
  .row #header_logo{
  	max-height: 80px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	img{
  		max-height: 60px;
  	}
  }
}
}


.payment_option_form {
  display: none;
}

.payment_option_logo {
  height:50px;
  max-height: 50px;
}

.payment_module_adv {
  height:120px;
  max-height: 120px;
}

.payment_option_selected {
    i {
      color: green;
    }
    display: none;
    margin-top: 15px;
}

.payment_option_cta {
  margin-left: 10px;
  color: #333 !important;
}

.tnc_box {
  background: #fbfbfb;
  border: 1px solid #d6d4d4;
  padding: 14px 18px 13px;
  margin: 0 0 30px 0;
  line-height: 23px;
}

.pointer-box {
  cursor: pointer;
}

#HOOK_ADVANCED_PAYMENT{
	margin-bottom: 10px;
	p.payment_module{
		margin-bottom: 20px;
	}	
}


span.aeuc_from_label,
span.aeuc_before_label,
span.aeuc_tax_label,
div.aeuc_shipping_label,
div.aeuc_weight_label{
        font-size: 80% ;
}

div.aeuc_delivery_label{
    border: 1px solid #cecece;
    padding: 4px;
    text-align: center;
     font-size: 80% ;
     clear: both;
    margin-top: 10px;
}
ul.product_list.grid .ajax_block_product .button-container div.aeuc_delivery_label, .slick_carousel .ajax_block_product .button-container div.aeuc_delivery_label{
border-left: none;
border-bottom: none;
border-right: none;
padding-bottom: 0px;
}

.product_list_small   .ajax_block_product .button-container div.aeuc_delivery_label{
        text-align: left;
    padding-left: 0px;
    border: none;
    margin-top: 8px;
    padding: 0px;
}

ul.product_list.grid > li .product-container .old-price, ul.product_list.grid > li .product-container .price, ul.product_list.grid > li .product-container .price-percent-reduction{
	vertical-align: bottom;
}

::-ms-clear {
    width : 0;
    height: 0;
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    -ms-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    -ms-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    -ms-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

.faa-tada.animated.faa-fast,
.faa-tada.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-fast {
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}

.faa-tada.animated.faa-slow,
.faa-tada.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-slow {
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}


.cbp-spmenu-push-toright{

	#mh-sticky.sticked{
	left: 240px !important;
    width: 100%;
	}
}

@-webkit-keyframes slidedown {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes slidedown {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

select::-ms-expand {
    display: none;
}

.ajax_add_to_cart_button{
	&.stock_quantity{
		background: #f4b61b;
		.&:hover{
			border: 2px solid #f4b61b;
		}
	}
}