/* block top links */
ul#header_links {
  list-style-type: none;
  float: right; }
  @media (max-width: 768px) {
    ul#header_links {
      font-size:9px; } }
  ul#header_links li {
    float: right;
    padding: 0px 10px; }
  ul#header_links a {
    text-align: center; }
