/*******************************************************************
					Blocksocial mod styles
********************************************************************/
header .nav .social_block_mod {
  float: left; }
  header .nav .social_block_mod li {
    height: 24px;
    margin-right: 3px; }
    header .nav .social_block_mod li a {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px; }

.social_block_mod ul {
  margin-bottom: 0px;
  margin-top: -6px; }
.social_block_mod li {
  border: none;
  float: left;
  margin-right: 6px;
  margin-bottom: 0px;
  margin-top: 6px;
  list-style-type: none;
  padding: 0px;
  height: 32px; }
.social_block_mod li a {
  display: block;
    font-family: "FontAwesome";
    width: 45px;
    height: 45px;
    font-size: 24px;
    color: #fff !important;
    line-height: 45px;
    display: block;
    text-align: center;
    background: #99999b;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    outline: none !important; }
  .social_block_mod li a:hover {
    text-decoration: none; }
	
.social_block_mod li.facebook a:before {
  content: "\F09A"; }
.social_block_mod li.facebook a {
  background: #3b5998 !important; }
.social_block_mod li.twitter a:before {
  content: "\F099"; }
.social_block_mod li.twitter a {
  background: #23c3fd !important; }
.social_block_mod li.vk a:before {
  content: "\F189"; }
.social_block_mod li.vk a {
  background: #155e8b !important; }
.social_block_mod li.youtube a:before {
  content: "\F167"; }
.social_block_mod li.youtube a {
  background: #e82a34 !important; }
.social_block_mod li.vimeo a {
  font-family: "warehousefont";
  position: relative;
  top: -1px; }
  .social_block_mod li.vimeo a:before {
    content: "\f194";
    position: relative;
    left: 1px; }
  .social_block_mod li.vimeo a:hover {
    background: #85c6fc !important; }
.social_block_mod li.pinterest a:before {
  content: "\F0D2"; }
.social_block_mod li.pinterest a:hover {
  background: #cb2027 !important; }
.social_block_mod li.tumblr a:before {
  content: "\F173"; }
.social_block_mod li.tumblr a:hover {
  background: #425e75 !important; }
.social_block_mod li.google a:before {
  content: "\F0D5"; }
.social_block_mod li.google a:hover {
  background: #c73e2e !important; }
.social_block_mod li.instagram a:before {
  content: "\F16D"; }
.social_block_mod li.instagram a {
  background: #517fa3 !important; }
.social_block_mod li.flickr a:before {
  content: "\F16E"; }
.social_block_mod li.flickr a:hover {
  background: #517fa3 !important; }
.social_block_mod li:last-child {
  margin-right: 0px; }

#left_column .social_block_mod {
  width: auto; }

#left_column .social_block_mod ul {
  list-style-type: none; }
