#index .columns-container{overflow:hidden;}
#iqitcontentcreator{background:none !important;margin-bottom:20px;margin-top:-20px;}
#iqitcontentcreator .fullheight-row{height:100%;min-height:100vh !important;}
#iqitcontentcreator .iqitcontent-column{margin-top:20px;}
#iqitcontentcreator .tab-content .tab-pane{margin-top:0px;}
@media (max-width:767px){#iqitcontentcreator > .iqitcontent_row .hidden-xs, #iqitcontentcreator #grid-creator-wrapper .first-rows-wrapper > .iqitcontent_row .hidden-xs{display:none !important;}
}
@media (min-width:768px) and (max-width:999px){#iqitcontentcreator > .iqitcontent_row .hidden-sm, #iqitcontentcreator #grid-creator-wrapper .first-rows-wrapper > .iqitcontent_row .hidden-sm{display:none !important;}
}
#iqitcontentcreator .empty-column .iqitcontent-column-inner > .iqitcontent_row{margin-top:-20px;}
#iqitcontentcreator .iqit-legend-inner{position:relative;top:0px;margin-left:5px;right:0px;padding:2px 4px;background:#cecece;display:inline;font-size:11px;vertical-align:middle;}
#iqitcontentcreator .iqit-legend-inner .legend-arrow{color:#cecece;}
#iqitcontentcreator .iqit-legend-inner .legend-arrow:before{content:"\f0d9";bottom:0px;font-family:"FontAwesome";top:0px;position:absolute;margin-top:0px;z-index:2;right:auto;font-size:18px;left:-5px;}
#iqitcontentcreator .title_block{display:block;}
#iqitcontentcreator .fullheight-banner{-js-display:flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:flex;-webkit-align-self:stretch;align-self:stretch;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
#iqitcontentcreator .fullheight-banner .iqitcontent-column-inner{-js-display:flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:flex;-webkit-align-self:stretch;align-self:stretch;}
#iqitcontentcreator .iqitcolumn-title-bg .title_block{padding:12px;}
#iqitcontentcreator .iqitcolumn-title-bg.alternative-slick-arrows > div > div > div .slick-next{right:5px;}
#iqitcontentcreator .iqitcolumn-title-bg.alternative-slick-arrows > div > div > div .slick-prev{right:35px;}
#iqitcontentcreator .manufacturers .iqitmanufacuter-logo a{-webkit-backface-visibility:hidden;backface-visibility:hidden;}
#iqitcontentcreator .manufacturers .iqitmanufacuter-logo a img{margin:0 auto;}
#iqitcontentcreator .manufacturers .iqitmanufacuter-logo a:hover img{opacity:0.6;}
#iqitcontentcreator .iqitcarousel{min-height:85px;}
#iqitcontentcreator .iqitcarousel .ajax_block_product{display:block;}
#iqitcontentcreator .iqitcolumn-have-title > div > div > .iqitcarousel{margin-top:-11px;}
#iqitcontentcreator ul.product_list{padding-top:11px;}
#iqitcontentcreator .iqitcarousel-wrapper{padding:0px 10px;}
#iqitcontentcreator .manufacturers .slick-list{margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}
#iqitcontentcreator .iqitcontent-column-inner .block{margin-bottom:0px;}
#iqitcontentcreator .iqit-fullwidth{margin:0 -500%;padding:0 500%;}
#iqitcontentcreator .fullwidth-row-container{width:calc(100vw - 17px);margin-left:calc((-50vw + 8px) + 50%);}
@media (max-width:1030px){#iqitcontentcreator .fullwidth-row-container{width:calc(100vw);margin-left:calc(-50vw + 50%);}
}
#iqitcontentcreator .parallax-row{min-height:100%;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-position:center top;}
@media (max-width:1030px){#iqitcontentcreator .parallax-row{background-attachment:scroll;}
}
#iqitcontentcreator .parallax-row .iqit-fullwidth{min-height:100%;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-position:center top;}
#iqitcontentcreator .nopadding-row > .iqitcontent-column{padding:0px;}
#iqitcontentcreator .valign-center-row{-js-display:flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#iqitcontentcreator .valign-center-row:before, #iqitcontentcreator .valign-center-row:after{width:0;}
#iqitcontentcreator .valign-center-row > .iqitcontent-column{-ms-flex-item-align:center;-webkit-align-self:center;align-self:center;}
#iqitcontentcreator .valign-center-row .fullheight-banner{-js-display:flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:flex;-webkit-align-self:stretch;align-self:stretch;-webkit-flex-direction:column;flex-direction:column;}
#iqitcontentcreator .valign-center-row .fullheight-banner .iqitcontent-column-inner{-js-display:flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:flex;-webkit-align-self:stretch;align-self:stretch;}
#iqitcontentcreator .iqit-banner-image{display:block;width:100%;background-size:cover;background-position:center center;-moz-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;-webkit-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
#iqitcontentcreator .iqit-banner-image img{opacity:0;visibility:hidden;}
#iqitcontentcreator .iqit-banner-image:hover{opacity:0.85;}
#iqitcontentcreator .banner-image{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;width:100%;-moz-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;-webkit-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;}
#iqitcontentcreator .banner-image:hover{opacity:0.85;}
@media (max-width:767px){#iqitcontentcreator .iqitcontent-column.col-xs-12{clear:both;float:none;}
}
@media (min-width:768px) and (max-width:999px){#iqitcontentcreator .iqitcontent-column.col-sm-12{clear:both;float:none;}
}
@media (min-width:1000px){#iqitcontentcreator .iqitcontent-column.col-md-12{clear:both;float:none;}
}
.flexboxtweener #iqitcontentcreator .fullheight-row .fullheight-banner{-js-display:flex;display:-ms-flexbox;-ms-flex-item-align:stretch;-ms-flex-direction:column;}
.flexboxtweener #iqitcontentcreator .fullheight-row .fullheight-banner .iqitcontent-column-inner{-js-display:flex;display:-ms-flexbox;-ms-flex-item-align:stretch;}